<div class="comparison">

    <table>
        <thead>
        <tr>
            <th class="tl tl2"></th>
            <th colspan="4" class="qbse">
                Individual Plans
            </th>
            <th class="qbo">
                Business Plan*
            </th>
        </tr>
        <tr>
            <th class="tl"></th>
            <th class="compare-heading">
                1 Year
            </th>
            <th class="compare-heading">
                3 Years
            </th>
            <th class="compare-heading">
                5 Years
            </th>
            <th class="compare-heading">
                Lifetime
            </th>
            <th class="compare-heading">
                Business
            </th>
        </tr>
        <tr>
            <th></th>
            <th class="price-info">
                <div class="price-was">was ₹600</div>
                <div class="price-now"><span>₹400<!--<span class="price-small">.20</span>--></span> <!--/month--></div>
                <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
                <div class="price-try"><span class="hide-mobile">or </span><a href="#">try <span class="hide-mobile">it free</span></a></div>
            </th>
            <th class="price-info">
                <div class="price-was">was ₹700</div>
                <div class="price-now"><span>₹500<!--<span class="price-small">.60</span>--></span> <!--/month--></div>
                <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
                <div class="price-try"><span class="hide-mobile">or </span><a href="#">try <span class="hide-mobile">it free</span></a></div>
            </th>
            <th class="price-info">
                <div class="price-was">was ₹1500</div>
                <div class="price-now"><span>₹1000<!--<span class="price-small">.50</span>--></span> <!--/month--></div>
                <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
                <div class="price-try"><span class="hide-mobile">or </span><a href="#">try <span class="hide-mobile">it free</span></a></div>
            </th>
            <th class="price-info">
                <div class="price-was">was ₹2500</div>
                <div class="price-now"><span>₹1500<!--<span class="price-small">00</span>--></span> <!--/month--></div>
                <div><a href="#" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>
                <div class="price-try"><span class="hide-mobile">or </span><a href="#">try <span class="hide-mobile">it free</span></a></div>
            </th>
            <th class="price-info">
                <div class="x-price-was">&nbsp;<!--was ₹2500--></div>
                <div class="price-now"><span>&nbsp;<!--₹1500--><!--<span class="price-small">00</span>--></span> <!--/month--></div>
                <div><a href="#" class="price-buy">Contact <span class="hide-mobile">us</span></a></div>
                <div class="price-try"><span class="hide-mobile">varies by business </span><!--<a href="#">try <span class="hide-mobile">it free</span></a>--></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td colspan="4">Separate business from personal spending</td>
        </tr>
        <tr class="compare-row">
            <td>Seperate business/personal</td>
            <td><span class="tickgreen">✔</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Estimate tax payments</td>
        </tr>
        <tr>
            <td>Estimate tax payments</td>
            <td><span class="tickgreen">✔</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Track deductible mileage</td>
        </tr>
        <tr class="compare-row">
            <td>Track deductible mileage</td>
            <td><span class="tickgreen">✔</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Download online banking</td>
        </tr>
        <tr>
            <td>Download online banking</td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Works on PC, Mac & mobile</td>
        </tr>
        <tr class="compare-row">
            <td>Multi-device</td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Create invoices & estimates</td>
        </tr>
        <tr>
            <td>Create invoices & estimates</td>
            <td></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Manage VAT</td>
        </tr>
        <tr class="compare-row">
            <td>Manage VAT</td>
            <td></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Run payroll</td>
        </tr>
        <tr>
            <td>Run payroll</td>
            <td></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Number of users</td>
        </tr>
        <tr class="compare-row">
            <td>Number of users</td>
            <td class="tickgreen">1 user</td>
            <td class="tickgreen">1 user</td>
            <td class="tickgreen">3 users</td>
            <td class="tickgreen">5 users</td>
            <td class="tickgreen">Company wide</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Manage bills & payments</td>
        </tr>
        <tr>
            <td>Manage bills & payments</td>
            <td></td>
            <td></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Handle multiple currencies</td>
        </tr>
        <tr class="compare-row">
            <td>Handle multiple currencies</td>
            <td></td>
            <td></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Create budgets</td>
        </tr>
        <tr>
            <td>Create budgets</td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Track employee time</td>
        </tr>
        <tr class="compare-row">
            <td>Track employee time</td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">Stock control</td>
        </tr>
        <tr>
            <td>Stock control</td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="tickgreen">✔</span></td>
            <td><span class="tickblue">✔</span></td>
        </tr>
        </tbody>
    </table>

</div>
