<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itrApplication">
            <h2><span jhiTranslate="eazykarApp.itrApplication.detail.title">Itr Application</span> {{itrApplication.id}}</h2>
            <hr>
            <ezkr-alert-error></ezkr-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eazykarApp.itrApplication.applicationNumber">Application Number</span></dt>
                <dd>
                    <span>{{itrApplication.applicationNumber}}</span>
                </dd>
                <dt><span jhiTranslate="eazykarApp.itrApplication.assessmentYear">Assessment Year</span></dt>
                <dd>
                    <span>{{itrApplication.assessmentYear}}</span>
                </dd>
                <dt><span jhiTranslate="eazykarApp.itrApplication.applicationStatus">Application Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'eazykarApp.ItrApplicationStatus.' + itrApplication.applicationStatus}}">{{itrApplication.applicationStatus}}</span>
                </dd>
                <dt><span jhiTranslate="eazykarApp.itrApplication.user">User</span></dt>
                <dd>
                    {{itrApplication.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/itr-application', itrApplication.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
