<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="ezkr-itr-application-heading" jhiTranslate="eazykarApp.itrApplication.home.createOrEditLabel">Create or edit a Itr Application</h2>
            <div>
                <ezkr-alert-error></ezkr-alert-error>
                <div class="form-group" [hidden]="!itrApplication.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="itrApplication.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.itrApplication.applicationNumber" for="field_applicationNumber">Application Number</label>
                    <input type="text" class="form-control" name="applicationNumber" id="field_applicationNumber"
                        [(ngModel)]="itrApplication.applicationNumber" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.applicationNumber?.dirty && editForm.controls.applicationNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.applicationNumber?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.applicationNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.itrApplication.assessmentYear" for="field_assessmentYear">Assessment Year</label>
                    <input type="text" class="form-control" name="assessmentYear" id="field_assessmentYear"
                        [(ngModel)]="itrApplication.assessmentYear" minlength="9" maxlength="9" pattern="\d{4}-\d{4}"/>
                    <div [hidden]="!(editForm.controls.assessmentYear?.dirty && editForm.controls.assessmentYear?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.assessmentYear?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 9 }">
                        This field is required to be at least 9 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.assessmentYear?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 9 }">
                        This field cannot be longer than 9 characters.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.assessmentYear?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Assessment Year' }">
                            This field should follow pattern for "Assessment Year".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.itrApplication.applicationStatus" for="field_applicationStatus">Application Status</label>
                    <select class="form-control" name="applicationStatus" [(ngModel)]="itrApplication.applicationStatus" id="field_applicationStatus"  required>
                        <option value="INFORMATION_GATHERING">{{'eazykarApp.ItrApplicationStatus.INFORMATION_GATHERING' | translate}}</option>
                        <option value="APPLICATION_ASSIGNMENT">{{'eazykarApp.ItrApplicationStatus.APPLICATION_ASSIGNMENT' | translate}}</option>
                        <option value="ITR_PREPARATION">{{'eazykarApp.ItrApplicationStatus.ITR_PREPARATION' | translate}}</option>
                        <option value="CLIENT_REVIEW">{{'eazykarApp.ItrApplicationStatus.CLIENT_REVIEW' | translate}}</option>
                        <option value="CLIENT_APPROVAL">{{'eazykarApp.ItrApplicationStatus.CLIENT_APPROVAL' | translate}}</option>
                        <option value="ITR_SUBMISSION">{{'eazykarApp.ItrApplicationStatus.ITR_SUBMISSION' | translate}}</option>
                        <option value="E_VERIFICATION">{{'eazykarApp.ItrApplicationStatus.E_VERIFICATION' | translate}}</option>
                        <option value="CLIENT_SIGN_OFF">{{'eazykarApp.ItrApplicationStatus.CLIENT_SIGN_OFF' | translate}}</option>
                        <option value="EAZYKAR_SIGN_OFF">{{'eazykarApp.ItrApplicationStatus.EAZYKAR_SIGN_OFF' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.applicationStatus?.dirty && editForm.controls.applicationStatus?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.applicationStatus?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.itrApplication.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="itrApplication.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === itrApplication.user?.id ? itrApplication.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
