<div class="footer">

    <!-- Footer Top Section Start -->
    <div class="footer-top-section bg-cyan-blue pt-100 pb-60">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Start -->
                <div class="footer-widget text-left col-lg-4 col-md-6 col-12 mb-40">
                    <h3 class="title">Contact <span>Us</span></h3>
                    <ul class="contact-list">
                        <li><span>Phone:</span> <a href="tel:+99858547589">+91 8888888888</a></li>
                        <li><span>Email:</span> <a href="#">info@examplel.com</a></li>
                        <li><span>Address:</span> House 10, Road Nomber 32 <br>Ognada, Malay 1212.</li>
                    </ul>
                </div>
                <!-- Footer Widget End -->
                <!-- Footer Widget Start -->
                <div class="footer-widget text-center col-lg-4 col-md-6 col-12 mb-40">
                    <div class="footer-about">
                        <!-- Logo -->
                        <img src="../../../content/images/footer-logo.png" alt="Footer Logo">
                        <p>Combined with a handful of model sente nce structures, to generate Lorem Ipsum whilooks reasonable. The generated
                            Lorem.</p>
                        <!-- Social -->
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget End -->
                <!-- Footer Widget Start -->
                <div class="footer-widget text-right col-lg-4 col-md-6 col-12 mb-40">
                    <h3 class="title">INSTAGRAM <span>photos</span></h3>
                    <div class="footer-instagram">
                        <ul id="instagram-feed">
                            <li><a href="https://www.instagram.com/p/BcRD0vNFzbz/" target="_new"><img alt="instagram"
                                src="//scontent.cdninstagram.com/vp/1ff02e73c81f1f25547bb1ec7d87dfe4/5C986D14/t51.2885-15/e35/c0.0.1079.1079/s150x150/24327774_860723967441978_7518140492719063040_n.jpg">
                                <span class="like"><i class="fa fa-heart-o"></i>0</span></a></li>
                            <li><a href="https://www.instagram.com/p/BcRCQMCll2-/" target="_new"><img alt="instagram"
                                src="//scontent.cdninstagram.com/vp/41b9064cc82927a88211331400cea6c6/5C8DCC60/t51.2885-15/e35/s150x150/24178219_2016264945324807_5383062836278722560_n.jpg">
                                <span class="like"><i class="fa fa-heart-o"></i>2</span></a></li>
                            <li><a href="https://www.instagram.com/p/BcRCLLxFeti/" target="_new"><img alt="instagram"
                                src="//scontent.cdninstagram.com/vp/c64407b6da19c1ffb1c16b8560898a73/5CA46B07/t51.2885-15/e35/s150x150/24175238_151110782184475_331487190812983296_n.jpg">
                                <span class="like"><i class="fa fa-heart-o"></i>2</span></a></li>
                            <li><a href="https://www.instagram.com/p/BcRByo2lzXs/" target="_new"><img alt="instagram"
                                src="//scontent.cdninstagram.com/vp/8e5acf5aa68119feb8336002637c619f/5CA20703/t51.2885-15/e35/s150x150/24273982_1641041739315662_4491021076909785088_n.jpg">
                                <span class="like"><i class="fa fa-heart-o"></i>2</span></a></li>
                            <li><a href="https://www.instagram.com/p/BcRBsdZFlEo/" target="_new"><img alt="instagram"
                                src="//scontent.cdninstagram.com/vp/7e32ed9d2630f1afbb614d441a9f9247/5CB0C81A/t51.2885-15/e35/s150x150/24274546_1697116040333735_8060019899226914816_n.jpg">
                                <span class="like"><i class="fa fa-heart-o"></i>1</span></a></li>
                            <li><a href="https://www.instagram.com/p/BcRBn6qlOXi/" target="_new"><img alt="instagram"
                                src="//scontent.cdninstagram.com/vp/47b6344cbee57620fb4d3001be9736b4/5C9FAE67/t51.2885-15/e35/s150x150/24274923_183012428946501_300740035336994816_n.jpg">
                                <span class="like"><i class="fa fa-heart-o"></i>1</span></a></li>
                            <li><a href="https://www.instagram.com/p/BcRBiBDFmw3/" target="_new"><img alt="instagram"
                                src="//scontent.cdninstagram.com/vp/87e874f5cf6e53e47f2ce0d3c7e05a9d/5CA9CA1E/t51.2885-15/e35/c32.0.1016.1016/s150x150/24274384_1480587238663345_8730060910804074496_n.jpg">
                                <span class="like"><i class="fa fa-heart-o"></i>2</span></a></li>
                            <li><a href="https://www.instagram.com/p/BcRBbLylRwo/" target="_new"><img alt="instagram"
                                src="//scontent.cdninstagram.com/vp/389d5c0e6899f8475dae6e6805312420/5C8F9CE1/t51.2885-15/e35/s150x150/24126468_710878762442262_1851327171696525312_n.jpg">
                                <span class="like"><i class="fa fa-heart-o"></i>0</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget End -->

            </div>
        </div>
    </div>
    <!-- Footer Top Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section">
        <div class="container">
            <div class="row">
                <!-- Footer Copyright -->
                <div class="footer-copyright text-center col-12">
                    <p>Copyright © All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section End -->

</div>
