<div class="service-section pb-55">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-12 pt-80 tabli">

                <div class="w3-bar w3-black">
                    <div class="btn2 cr-btn" onclick="openCity('Commitment')">Expertise & Commitment </div>
                    <div class="btn2 cr-btn" onclick="openCity('Support')">Online Offline Support </div>
                    <div class="btn2 cr-btn" onclick="openCity('Skills')">Research Skills </div>
                    <div class="btn2 cr-btn" onclick="openCity('Risk')">Risk Analysis & Minimization</div>
                    <div class="btn2 cr-btn" onclick="openCity('Scrutiny')">Records Scrutiny</div>
                    <div class="btn2 cr-btn" onclick="openCity('Privacy')">We Guard your Privacy</div>
                </div>
                <div id="Commitment" class="w3-container w3-display-container city pt-40">
                    <h2>Risk Analysis and Minimization</h2>
                    <ul>
                        <li>EazyKar is a team of dedicated professionals and are well-versed with the latest expectations and actions of the Income Tax Department. </li>
                        <li>We absolutely understand the concerns of our clients and give them a Bird’s Eye view of what the future holds. </li>
                    </ul>
                </div>
                <div id="Support" class="w3-container w3-display-container city  pt-40" style="display:none">
                    <h2>Online and Offline Support </h2>
                    <ul>
                        <li>EazyKar offers you access to one of the most advanced and updated Software that ensures 99.99 percent human-grade accuracy. </li>

                        <li>Our Technical Team updates the software from time to time to provide you with the most accurate calculations for filing of returns. </li>

                        <li>We provide personalized services in case you need our support beyond mere filing of annual returns.</li>
                    </ul>
                </div>

                <div id="Skills" class="w3-container w3-display-container city  pt-40" style="display:none">

                    <h2>Research Skills </h2>
                    <ul>
                        <li>Our team of professionals understands the need and necessity to remain informed in order to protect the interests of our clients. Therefore, we are always up-to-date with the latest Circulars, Notifications, Amendments and Judgments that impact the financial interests of our clients.</li>
                        <li>With our certified and conversant team of Professionals, we work non-stop to minimize our Client’s risk of non-compliance and litigation. </li>
                    </ul>

                </div>

                <div id="Risk" class="w3-container w3-display-container city  pt-40" style="display:none">
                    <h2>Risk Analysis and Minimization  </h2>
                    <ul>
                        <li>Without a rock-solid foundation, even the tallest Tower collapses and that’s true when it comes to business and individual growth. We measure your risk and give best possible solutions to minimize it.</li>
                        <li>We help you comply with the required Accounting Standards, co-ordinate with your Cost Accountants, Auditors and internal Tax Team to help you with the overall compliance.</li>
                    </ul>
                </div>

                <div id="Scrutiny" class="w3-container w3-display-container city  pt-40" style="display:none">
                    <h2>Records Scrutiny </h2>
                    <ul>
                        <li>Our core expertise is in analyzing the past records and pinpointing the strengths and weakness of the Financial Documents. </li>
                        <li>We make suggestions pertaining to non compliance of the mandatory Accounting and Auditing norms. </li>
                    </ul>
                </div>

                <div id="Privacy" class="w3-container w3-display-container city  pt-40" style="display:none">
                    <h2>We Guard your Privacy </h2>
                    <ul>
                        <li>You can expect absolute privacy while working with us because we strive towards guarding your Financial Data.</li>
                        <li>Engaging us not only saves your time but also keeps your financial data private, ensuring that it remains safe from your contemporaries. </li>
                    </ul>
                </div>




                <script>
                    function openCity(cityName) {
                        var i;
                        var x = document.getElementsByClassName("city");
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        document.getElementById(cityName).style.display = "block";
                    }
                </script>




            </div>
            <!-- Section Title End -->
        </div>

    </div>
</div>
