<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="ezkr-other-income-heading" jhiTranslate="eazykarApp.otherIncome.home.createOrEditLabel">Create or edit a Other Income</h2>
            <div>
                <ezkr-alert-error></ezkr-alert-error>
                <div class="form-group" [hidden]="!otherIncome.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="otherIncome.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.otherIncome.interestIncome" for="field_interestIncome">Interest Income</label>
                    <input type="number" class="form-control" name="interestIncome" id="field_interestIncome"
                        [(ngModel)]="otherIncome.interestIncome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.otherIncome.anyOtherIncome" for="field_anyOtherIncome">Any Other Income</label>
                    <input type="number" class="form-control" name="anyOtherIncome" id="field_anyOtherIncome"
                        [(ngModel)]="otherIncome.anyOtherIncome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.otherIncome.exemptDividend" for="field_exemptDividend">Exempt Dividend</label>
                    <input type="number" class="form-control" name="exemptDividend" id="field_exemptDividend"
                        [(ngModel)]="otherIncome.exemptDividend" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.otherIncome.exemptInterest" for="field_exemptInterest">Exempt Interest</label>
                    <input type="number" class="form-control" name="exemptInterest" id="field_exemptInterest"
                        [(ngModel)]="otherIncome.exemptInterest" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.otherIncome.exemptOtherIncome" for="field_exemptOtherIncome">Exempt Other Income</label>
                    <input type="number" class="form-control" name="exemptOtherIncome" id="field_exemptOtherIncome"
                        [(ngModel)]="otherIncome.exemptOtherIncome" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.otherIncome.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="otherIncome.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === otherIncome.user?.id ? otherIncome.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
