<div id="ct">
    <div class="corner " id="left_top"></div>
    <div class="corner" id="left_bottom"></div>
    <div class="corner" id="right_top"></div>
    <div class="corner" id="right_bottom"></div>
    <span>Albert Einstein</span>
    <blockquote>
        <p><i>&ldquo;The hardest thing in the world to understand is the Income Tax.&rdquo; </i></p>
    </blockquote>
</div>
<div class="d-flex justify-content-center color-white display-4">We have a solution to your tax needs for Lifetime</div>
<br>
<div class="row">
    <div class="col-md-12">
        <ezkr-carousel5></ezkr-carousel5>
    </div>
</div>

