<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="ezkr-salary-information-heading" jhiTranslate="eazykarApp.salaryInformation.home.createOrEditLabel">Create or edit a Salary Information</h2>
            <div>
                <ezkr-alert-error></ezkr-alert-error>
                <div class="form-group" [hidden]="!salaryInformation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="salaryInformation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.salaryInformation.employerName" for="field_employerName">Employer Name</label>
                    <input type="text" class="form-control" name="employerName" id="field_employerName"
                        [(ngModel)]="salaryInformation.employerName" required maxlength="200"/>
                    <div [hidden]="!(editForm.controls.employerName?.dirty && editForm.controls.employerName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.employerName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.employerName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.salaryInformation.employerType" for="field_employerType">Employer Type</label>
                    <select class="form-control" name="employerType" [(ngModel)]="salaryInformation.employerType" id="field_employerType"  required>
                        <option value="PUBLIC">{{'eazykarApp.EmployerType.PUBLIC' | translate}}</option>
                        <option value="PRIVATE">{{'eazykarApp.EmployerType.PRIVATE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.employerType?.dirty && editForm.controls.employerType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.employerType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.salaryInformation.employerTan" for="field_employerTan">Employer Tan</label>
                    <input type="text" class="form-control" name="employerTan" id="field_employerTan"
                        [(ngModel)]="salaryInformation.employerTan" required maxlength="10"/>
                    <div [hidden]="!(editForm.controls.employerTan?.dirty && editForm.controls.employerTan?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.employerTan?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.employerTan?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.salaryInformation.income" for="field_income">Income</label>
                    <input type="number" class="form-control" name="income" id="field_income"
                        [(ngModel)]="salaryInformation.income" required/>
                    <div [hidden]="!(editForm.controls.income?.dirty && editForm.controls.income?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.income?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.income?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.salaryInformation.tds" for="field_tds">Tds</label>
                    <input type="number" class="form-control" name="tds" id="field_tds"
                        [(ngModel)]="salaryInformation.tds" required/>
                    <div [hidden]="!(editForm.controls.tds?.dirty && editForm.controls.tds?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tds?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tds?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.salaryInformation.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="salaryInformation.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === salaryInformation.user?.id ? salaryInformation.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
