<div id="information-gathering" class="page-layout simple fullwidth" fxLayout="column">
    <div class="p-16">
        <mat-tab-group dynamicHeight="true" mat-stretch-tabs mat-align-tabs="center">

            <mat-tab label="Salary Information">
                <ezkr-salary-information></ezkr-salary-information>
            </mat-tab>

            <mat-tab label="Other Income">
                <div class="p-24">
                    <div class="page-layout simple">
                        Other Income content here
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="House Property">
                <div class="p-24">
                    <div class="page-layout simple">
                        House Property content here
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Capital Gain">
                <div class="p-24">
                    <div class="page-layout simple">
                        Capital Gain content here
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Deductions">
                <div class="p-24">
                    <div class="page-layout simple">
                        Deductions content here
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
</div>
