#information-gathering {

    .content {

        background-color: #fff !important;

        form {
            width: 100%;
            //max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper {
            //max-width: 800px;
        }
    }
}
