<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="ezkr-plan-heading" jhiTranslate="eazykarApp.plan.home.createOrEditLabel">Create or edit a Plan</h2>
            <div>
                <ezkr-alert-error></ezkr-alert-error>
                <div class="form-group" [hidden]="!plan.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="plan.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.plan.planNumber" for="field_planNumber">Plan Number</label>
                    <input type="text" class="form-control" name="planNumber" id="field_planNumber"
                        [(ngModel)]="plan.planNumber" required maxlength="10"/>
                    <div [hidden]="!(editForm.controls.planNumber?.dirty && editForm.controls.planNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.planNumber?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.planNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.plan.planName" for="field_planName">Plan Name</label>
                    <input type="text" class="form-control" name="planName" id="field_planName"
                        [(ngModel)]="plan.planName" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.planName?.dirty && editForm.controls.planName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.planName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.planName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.plan.planType" for="field_planType">Plan Type</label>
                    <select class="form-control" name="planType" [(ngModel)]="plan.planType" id="field_planType"  required>
                        <option value="INDIVIDUAL">{{'eazykarApp.PlanType.INDIVIDUAL' | translate}}</option>
                        <option value="BUSINESS">{{'eazykarApp.PlanType.BUSINESS' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.planType?.dirty && editForm.controls.planType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.planType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.plan.planFees" for="field_planFees">Plan Fees</label>
                    <input type="number" class="form-control" name="planFees" id="field_planFees"
                        [(ngModel)]="plan.planFees" required/>
                    <div [hidden]="!(editForm.controls.planFees?.dirty && editForm.controls.planFees?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.planFees?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.planFees?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.plan.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="plan.active" />
                    <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.active?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
