<div>
    <h2 id="page-heading">
        <span jhiTranslate="eazykarApp.plan.home.title">Plans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plan" [routerLink]="['/plan/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eazykarApp.plan.home.createLabel">
            Create new Plan
            </span>
        </button>
    </h2>
    <ezkr-alert></ezkr-alert>
    <br/>
    <div class="table-responsive" *ngIf="plans">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planNumber"><span jhiTranslate="eazykarApp.plan.planNumber">Plan Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planName"><span jhiTranslate="eazykarApp.plan.planName">Plan Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planType"><span jhiTranslate="eazykarApp.plan.planType">Plan Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planFees"><span jhiTranslate="eazykarApp.plan.planFees">Plan Fees</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="eazykarApp.plan.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plan of plans ;trackBy: trackId">
                <td><a [routerLink]="['/plan', plan.id, 'view' ]">{{plan.id}}</a></td>
                <td>{{plan.planNumber}}</td>
                <td>{{plan.planName}}</td>
                <td jhiTranslate="{{'eazykarApp.PlanType.' + plan.planType}}">{{plan.planType}}</td>
                <td>{{plan.planFees}}</td>
                <td>{{plan.active}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/plan', plan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plan', plan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plan/'+ plan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="plans && plans.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
