<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="1000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <h2 class='text-center'>Brescia's Printing Services 1
                        <small>,LLC</small>
                    </h2>
                </div>
                <div class="item">
                    <h2 class='text-center'>Brescia's Printing Services 55555555
                        <small>,LLC</small>
                    </h2>
                </div>
                <div class="item">
                    <h2 class='text-center'>Brescia's Printing Services 6666666
                        <small>,LLC</small>
                    </h2>
                </div>
                <div class="item">
                    <h2 class='text-center'>Brescia's Printing Services 7888888
                        <small>,LLC</small>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-2'></div>
</div>
