body {
    ezkr-carousel6 {
        //background: #222;
        //font-size: 4em;
        //font-family: 'Open Sans', sans-serif;
        //color: white;
    }
}

.carousel-inner .item {
    text-align: center !important;
}

.carousel.carousel-fade .item {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.carousel.carousel-fade .active.item {
    opacity: 1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

@media (max-width: 570px) {
    .carousel-control.left {
        left: 0;
    }
    .carousel-control.right {
        right: 0;
    }
}

