//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900');

$opac1: 1;
$opac2: 1;
$opac3: 1;
body {
    #carousel5 {
        //background: #642B73; /* fallback for old browsers */
        //background: -webkit-linear-gradient(to right, #C6426E, #642B73); /* Chrome 10-25, Safari 5.1-6 */
        //background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        //height: calc(100vh - 60px);
        //font-family: "Source Sans Pro", sans-serif;
        color: #151515;
        padding: 30px;
    }
}

#carousel5 {
    &.container-carousel5 {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        width: 100%;

        .slogan {
            //max-width: 600px;
            padding: 8px 15px;
            //background: #FFFFF3;
            border-radius: 3px;
            transition: all .3s ease-in-out;
            //box-shadow: 0 0 45px 0 #353d47;
        }

        p {
            display: block;
            //font-weight: 700;
            font-size: 2em;
            position: relative;
            text-align: center;
            transition: all .3s ease-in-out;
        }
    }

    .words {
        //text-align: left;
        width: 600px;
        height: 60px;
        //display: inline-block;
        //overflow: hidden;
        animation: changewords 7s infinite;
    }

    .word {
        //color: #DE6449;
        color: white;
        position: absolute;
        top: 0;
        height: 60px;
        opacity: $opac1;
        overflow: hidden;
        animation: changewordfirst 7s infinite;

        &:nth-of-type(2) {
            //color: #791E94;
            opacity: $opac2;
            animation: changewordsecond 7s infinite;
        }

        &:nth-of-type(3) {
            //color: #41D3BD;
            opacity: $opac3;
            animation: changewordthird 7s infinite;
        }
    }

    @keyframes changewordfirst {
        0% {
            opacity: $opac1;
        }
        16.5% {
            opacity: $opac1;
        }
        25% {
            opacity: 0;
        }
        93.75% {
            opacity: 0;
        }
        100% {
            opacity: $opac1;
        }
    }

    @keyframes changewordsecond {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        33% {
            opacity: $opac2;
        }
        50% {
            opacity: $opac2;
        }
        58.25% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes changewordthird {
        0% {
            opacity: 0;
        }
        58.25% {
            opacity: 0;
        }
        66% {
            opacity: $opac3;
        }
        85% {
            opacity: $opac3;
        }
        93.75% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes changewords {
        0% {
            opacity: $opac1;
        }
        16.5% {
            opacity: $opac1;
        }
        25% {
            opacity: 0;
        }
        33% {
            opacity: $opac2;
        }
        50% {
            opacity: $opac2;
        }
        58.25% {
            opacity: 0;
        }
        66% {
            opacity: $opac3;
        }
        85% {
            opacity: $opac3;
        }
        93.75% {
            opacity: 0;
        }
        100% {
            opacity: $opac1;
        }
    }
}
