<div class="row" style="background: #1D1F20;">
    <div class="col-md-12">
        <ezkr-quote3></ezkr-quote3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ezkr-carousel></ezkr-carousel>
    </div>
</div>
<!--
<div class="row" style="height: 50px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <ezkr-carousel2></ezkr-carousel2>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <ezkr-carousel3></ezkr-carousel3>
    </div>
</div>
-->
