<div class="row" style="background: #1D1F20;">
    <div class="col-md-12">
        <ezkr-quote3></ezkr-quote3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ezkr-carousel5></ezkr-carousel5>
    </div>
</div>
<!--
<div class="row" style="height: 50px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <ezkr-carousel2></ezkr-carousel2>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <ezkr-carousel3></ezkr-carousel3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ezkr-pricing></ezkr-pricing>
    </div>
</div>
<div class="row" style="background: #875A7B;">
    <div class="col-md-12 justify-content-center">
        <ezkr-pricing2></ezkr-pricing2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 justify-content-center">
        <ezkr-pricing3></ezkr-pricing3>
    </div>
</div>
-->
<div class="row">
    <div class="col-md-12 justify-content-center">
        <ezkr-pricing4></ezkr-pricing4>
    </div>
</div>
