<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <a [routerLink]="''"><img src="/content/images/logo.png"></a>
        </div>

        <div class="h1" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            EazyKar makes Filing IT Returns as easy and effective as humanly possible.
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <p>
                <mat-icon matListIcon>done</mat-icon>
                Dedicated Support team of highly experienced experts at your disposal. <br>
                <mat-icon matListIcon>done</mat-icon>
                Time-based Services that ensure timely financial planning. <br>
                <mat-icon matListIcon>done</mat-icon>
                High-level privacy and absolute confidentiality. <br>
                <mat-icon matListIcon>done</mat-icon>
                Highly secure servers that keep your Financial Data safe. <br>
                <mat-icon matListIcon>done</mat-icon>
                Machine-Level Accuracy backed by Expert Support. <br>
                <mat-icon matListIcon>done</mat-icon>
                Over 1000 CAs to help you. 24/7 support for resolution of your questions. <br>
            </p>
        </div>

        <p>&nbsp;</p>
        <div class="h1" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Benefits of Hiring Us to File IT Online ?
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <mat-icon matListIcon>done</mat-icon>
            File Returns without spending tedious hours with a CA<br>
            <mat-icon matListIcon>done</mat-icon>
            Do your filing in your spare time, from literally anywhere.<br>
            <mat-icon matListIcon>done</mat-icon>
            Economic Packages.<br>
            <mat-icon matListIcon>done</mat-icon>
            We make Financial Concepts simple and easy for our clients<br>
            <mat-icon matListIcon>done</mat-icon>
            Highly Up-To-Date experts<br>
        </div>
    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <a [routerLink]="''"><img src="/content/images/logo.png"></a>
            </div>

            <div class="title text-center">RECOVER YOUR PASSWORD</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="requestReset()" novalidate>

                <mat-error *ngIf="forgotPasswordForm.hasError('errorEmailNotExists')">
                    <strong>Email address isn't registered!</strong> Please check and try again.
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.hasError('error')">
                    Enter the email address you used to register.
                </mat-error>
                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" id="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    SEND RESET LINK
                </button>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login-2'">Go back to login</a>
            </div>

        </div>
    </div>
</div>
