<div class="slider-wrap">
    <div id="card-slider" class="slider">
        <div class="slider-item">
            <div class="animation-card_image">
                <img src="https://uznayvse.ru/images/stories2016/uzn_1460039478.jpg" alt="">
            </div>
            <div class="animation-card_content">
                <h4 class="animation-card_content_title title-2">Charlize Theron 1</h4>
                <p class="animation-card_content_description p-2">With no contractual commitments comes the freedom of having top notch content
                    created whenever.</p>
                <p class="animation-card_content_city">New York, NY</p>
            </div>
        </div>
        <div class="slider-item">
            <div class="animation-card_image">
                <img src="https://uznayvse.ru/images/stories2016/uzn_1460039478.jpg" alt="">
            </div>
            <div class="animation-card_content">
                <h4 class="animation-card_content_title title-2">Charlize Theron 2</h4>
                <p class="animation-card_content_description p-2">With no contractual commitments comes the freedom of having top notch content
                    created whenever.</p>
                <p class="animation-card_content_city">New York, NY</p>
            </div>
        </div>
        <div class="slider-item">
            <div class="animation-card_image">
                <img src="https://uznayvse.ru/images/stories2016/uzn_1460039478.jpg" alt="">
            </div>
            <div class="animation-card_content">
                <h4 class="animation-card_content_title title-2">Charlize Theron 3</h4>
                <p class="animation-card_content_description p-2">With no contractual commitments comes the freedom of having top notch content
                    created whenever.</p>
                <p class="animation-card_content_city">New York, NY</p>
            </div>
        </div>
        <div class="slider-item">
            <div class="animation-card_image">
                <img src="https://uznayvse.ru/images/stories2016/uzn_1460039478.jpg" alt="">
            </div>
            <div class="animation-card_content">
                <h4 class="animation-card_content_title title-2">Charlize Theron 4</h4>
                <p class="animation-card_content_description p-2">With no contractual commitments comes the freedom of having top notch content
                    created whenever.</p>
                <p class="animation-card_content_city">New York, NY</p>
            </div>
        </div>
        <div class="slider-item">
            <div class="animation-card_image">
                <img src="https://uznayvse.ru/images/stories2016/uzn_1460039478.jpg" alt="">
            </div>
            <div class="animation-card_content">
                <h4 class="animation-card_content_title title-2">Charlize Theron 5</h4>
                <p class="animation-card_content_description p-2">With no contractual commitments comes the freedom of having top notch content
                    created whenever.</p>
                <p class="animation-card_content_city">New York, NY</p>
            </div>
        </div>
    </div>
</div>
