<div id="academy-course" class="page-layout simple left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="academy-course-left-sidebar-1" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content" fusePerfectScrollbar>

            <div class="steps">

                <div class="step"
                     *ngFor="let step of steps; let i = index; let last = last; let first = first"
                     (click)="gotoStep(i)"
                     [class.current]="+currentStep === i"
                     [class.completed]="+currentStep > i"
                     [class.first]="first"
                     [class.last]="last">
                    <div class="index">
                        <span>{{i + 1}}</span>
                    </div>
                    <div class="title">{{step.title}}</div>
                </div>

            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div *ezkrHasNoneOfTheAuthorities="['ROLE_CA', 'ROLE_CA_MANAGER']" class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <!-- hidden on medium sized screen -->
            <button mat-icon-button class="sidebar-toggle mr-16" fxHide.gt-md
                    (click)="toggleSidebar('academy-course-left-sidebar-1')">
                <mat-icon>menu</mat-icon>
            </button>

            <div>
                <h2>{{steps[+currentStep]?.title}}</h2>
            </div>

        </div>
        <div *ezkrHasAnyAuthority="['ROLE_CA', 'ROLE_CA_MANAGER']" class="header accent p-24 pb-0 pt-12" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <!-- hidden on medium sized screen -->
                <button mat-icon-button class="sidebar-toggle mr-16" fxHide.gt-md
                        (click)="toggleSidebar('academy-course-left-sidebar-1')">
                    <mat-icon>menu</mat-icon>
                </button>

                <div>
                    <h2>{{steps[+currentStep]?.title}}</h2>
                </div>
            </div>

            <!-- *ezkrHasAnyAuthority="['ROLE_CA', 'ROLE_CA_MANAGER']" -->
            <div fxLayout="row" *ngIf="client">
                <div class="selected-project">{{client.firstName}} {{client.lastName}}</div>
                <button mat-icon-button class="project-selector">
                    <mat-icon>close</mat-icon>
                </button>

                <!--
                <div class="pl-12">&nbsp;</div>

                <div class="selected-project">Ms. Jane Doe</div>
                <button mat-icon-button class="project-selector">
                    <mat-icon>close</mat-icon>
                </button>
                -->
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="course-content" class="content">

            <ng-container *ngFor="let step of steps; let i = index;" [ngSwitch]="i">

                <div class="course-step" fusePerfectScrollbar
                     *ngIf="currentStep === i"
                     [@slideIn]="animationDirection">

                    <div id="course-step-content" class="course-step-content">
                        <ezkr-information-gathering *ngSwitchCase="0" [client]="client"></ezkr-information-gathering>
                        <ezkr-application-list *ngSwitchCase="1"></ezkr-application-list>
                        <div *ngSwitchDefault class="page-layout simple fullwidth" fxLayout="column">
                            <div class="p-16">
                                <p>{{step.title}} content here</p>
                            </div>
                        </div>
                    </div>

                </div>

            </ng-container>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
