
<!-- Page Banner Section Start -->
<div class="page-banner-section" style="background-image: url(../../content/images/bg/page-banner-bg.jpg)" data-overlay="theme-color" data-opacity="8">
    <div class="container">
        <div class="page-banner row align-items-center">

            <!-- Page Title -->
            <div class="col-lg-6 col-12">
                <h1 class="page-title">Contact Us</h1>
            </div>

            <!-- Page Breadcrumb -->
            <div class="col-lg-6 col-12">
                <ul class="page-breadcrumb">
                    <li><a href="/">home</a></li>
                    <li class="active">Contact us</li>
                </ul>
            </div>

        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Contact Section Start -->
<div class="contact-section pt-55 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12 ml-auto mr-auto">
                <div class="row">

                    <!-- Section Title Start -->
                    <div class="section-title text-center col-12 pb-50 pt-40">
                        <h1>Get In Touch</h1>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Contact Info Start -->
                    <div class="contact-info text-center col-md-4 col-12 mb-30">
                        <h4>Address:</h4>
                        <span></span>
                        <p>House 09, Road 32, Oganda, Malay 1212.</p>
                    </div>
                    <!-- Contact Info Start -->

                    <!-- Contact Info Start -->
                    <div class="contact-info text-center col-md-4 col-12 mb-30">
                        <h4>Phone:</h4>
                        <span></span>
                        <p><a href="tel:">+99 858 574 565 44</a></p>
                        <p><a href="tel:">+99 858 574 565 45</a></p>
                    </div>
                    <!-- Contact Info Start -->

                    <!-- Contact Info Start -->
                    <div class="contact-info text-center col-md-4 col-12 mb-30">
                        <h4>email:</h4>
                        <span></span>
                        <p><a href="mailto:">info@example.com</a></p>
                        <p><a href="mailto:">companyname@demo.com</a></p>
                    </div>
                    <!-- Contact Info Start -->

                    <!-- Contact Form Start -->
                    <div class="col-12 mt-20">
                        <div class="contact-form">
                            <form id="contact-form" action="https://d29u17ylf1ylz9.cloudfront.net/korki-v4/assets/php/mail.php" method="post">
                                <div class="row row-5">
                                    <div class="col-md-6 col-12 mb-20"><input type="text" name="name" placeholder="Name"></div>
                                    <div class="col-md-6 col-12 mb-20"><input type="email" name="email" placeholder="Email"></div>
                                    <div class="col-12 mb-20"><textarea name="message" placeholder="Message"></textarea></div>
                                    <div class="col-12"><input type="submit" value="send message"></div>
                                </div>
                            </form>
                            <span class="contact-note">NOTE: Contact Form doesn't Work In the Preview, Actual Working Files are Included in the Downloadable Package.</span>
                        </div>
                    </div>
                    <!-- Contact Form End -->

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact Section End -->

<!-- Contact Map Start -->
<div id="contact-map"></div>
<!-- Contact Map End -->
