<div class="nav" [ngClass]="{'horizontal':true}">

    <ng-container *ngFor="let item of navigation">

        <fuse-nav-horizontal-collapsable *ngIf="item.type=='group'" [item]="item">
        </fuse-nav-horizontal-collapsable>
        <fuse-nav-horizontal-collapsable *ngIf="item.type=='collapsable'" [item]="item">
        </fuse-nav-horizontal-collapsable>
        <fuse-nav-horizontal-item *ngIf="item.type=='item'" [item]="item">
        </fuse-nav-horizontal-item>

    </ng-container>

</div>
