<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a mat-raised-button color="accent" aria-label="Contact Us"
                fxFlex="0 0 auto" fxLayout="row"
                fxLayoutAlign="start center"
                routerLink="/">
            <mat-icon class="s-16 mr-sm-4">contact_support</mat-icon>
            <span>Contact Us</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button routerLink="/">Privacy Policy</a>
            <span>&bull;</span>
            <a mat-button routerLink="/">Terms of Use</a>
        </div>

    </div>

</mat-toolbar>
