<!-- Page Banner Section Start -->
<div class="page-banner-section" style="background-image: url(../../content/images/bg/page-banner-bg.jpg)" data-overlay="theme-color" data-opacity="8">
    <div class="container">
        <div class="page-banner row align-items-center">

            <!-- Page Title -->
            <div class="col-lg-6 col-12">
                <h1 class="page-title">Know About Tax</h1>
            </div>

            <!-- Page Breadcrumb -->
            <div class="col-lg-6 col-12">
                <ul class="page-breadcrumb">
                    <li><a href="/">home</a></li>
                    <li class="active">Tax Knowledge</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Service Section Start -->
<div class="feature-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 mb-30">
                <h2 class="title">Tax Knowledge, EasyKar</h2>
                <p>
                    The Income Tax Act of 1961 to be read with the applicable Finance Act for a detailed understanding of the Indian Tax System.
                    In India, the Authorities rely on the slab system, notified periodically through the Finance Bill that when duly passed turns into an Act.
                </p>
                <p>
                    These slabs vary for different categories of Assessees and may at times even sub-categorize. For instance, in the case of Individuals,
                    this category may be sub-categorized into Men and Women, or as Senior Citizens, Very Senior Citizens and Others.
                </p>
                <p>
                    When it comes to filing your IT Returns and Financial Planning, it’s all about making the right choice and at EasyKar we strive hard to educate our clients to make an informed decision.
                    Below discussed are some prominent financial concepts that you must know.
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="container">

                <div class="col-lg-12 col-md-12  mb-30">
                    <div class="feature pull-left row pb-20">



                        <div class="col-md-4">
                            <img src="../../content/images/service/1.png" class="img-responsive" alt="" />
                        </div>

                        <div class="col-md-8 pt-25">
                            <h4><a href="#">Accounting and Auditing </a></h4>
                            <p>
                                You need to be extremely careful while implementing an internal Accounting or Auditing system.
                                Based on the scale and volume of your business, you are required to follow certain norms and standards.
                                You can talk to our Executives to know more about it and we would assist you to implement the same.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12  mb-30">
                    <div class="feature pull-left row pb-20">



                        <div class="col-md-4">
                            <img src="../../content/images/service/2.png" class="img-responsive" alt="" />
                        </div>

                        <div class="col-md-8 pt-25">
                            <h4><a href="#">What are Tax Breaks ?</a></h4>
                            <p>
                                The Financial Acts and Policies is the message from the Government about its long-term goals and vision.
                                To further this vision, the Government encourages the citizens to head in a specific direction and our Team of Experts would be glad to lead you down that track.
                                For instance, Tax breaks on certain infrastructure bonds to develop a particular region. We can also provide a thorough guidance on STPI and SEZ benefits and Tax breaks
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12  mb-30">
                    <div class="feature pull-left row pb-20">



                        <div class="col-md-4">
                            <img src="../../content/images/service/taxbreak.jpg" class="img-responsive" alt="" />
                        </div>

                        <div class="col-md-8 pt-25 pb-60">
                            <h4><a href="#">Types of Tax Breaks</a></h4>

                            <p>
                                The Financial Acts and Policies is the message from the Government about its long-term goals and vision.
                                To further this vision, the Government encourages the citizens to head in a specific direction and our Team of Experts would be glad to lead you down that track.
                                For instance, Tax breaks on certain infrastructure bonds to develop a particular region. We can also provide a thorough guidance on STPI and SEZ benefits and Tax breaks
                            </p>

                            <p><b>Exemptions -</b></p>
                            <p>
                                Certain amounts are exempted by the Government and are totally Tax-Free, these are called Exemptions.
                                For instance, Individuals are exempted from paying tax on an income up to Rs. 2,50,000 per Assessment Year.
                            </p>
                            <p><b>Deductions -</b></p>
                            <p>
                                These are exemptions that you can claim after taking a particular action. For instance, investing in a particular scheme listed under 80 C.
                            </p>
                            <p>
                                We completely understand that our clients come from various backgrounds and the very mention of Stock Market, Bonds, and Savings Certificates sounds complicated to them.
                                Therefore, our experts make necessary suggestions to help you get the best out of the available Tax Breaks. Since we provide time-based services, you can call our Experts anytime to consult on a tax saving scheme.
                                This helps you make an informed decision against the marketing propaganda by various Investment companies. Our goal is to help you get the maximum deductions by pinpointing high-yield areas depending on your risk-bearing
                                potential and long-term goals. You can also count on us for any housing loan, car loan or overdraft related advices and seek our expert advice on how that impacts your Financial Statements. Now this is why we offer time-based services,
                                as it enables proper long-term planning and timely execution.
                            </p>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Service Section End -->
