<section class="pb-55 pt-55 blogs-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="theme-title text-center">
                    <h2>Our Latest Blogs</h2>
                </div>
            </div>
        </div>
        <div class="blog-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="blog-box">
                    <div class="blog-img"><img src="/content/images/blog/1.png" class="img-responsive" alt=""></div>
                    <div class="blog-content">
                        <p class="blog-title">10 points to remember before last date of ITR filing</p>
                        <p class="blogr-name"><span class="blog-generator">EazyKar,</span><span class="blog-date">21 October 2018</span></p>
                        <p class="blog-detail limit-text">I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability.</p>
                        <p><span class="pull-right"><a href="">Read More__</a></span></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="blog-box">
                    <div class="blog-img"><img src="/content/images/blog/2.png" class="img-responsive" alt=""></div>
                    <div class="blog-content">
                        <p class="blog-title">10 points to remember before last date of ITR filing</p>
                        <p class="blogr-name"><span class="blog-generator">EazyKar,</span><span class="blog-date">21 October 2018</span></p>
                        <p class="blog-detail limit-text">I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability.</p>
                        <p><span class="pull-right"><a href="">Read More__</a></span></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="blog-box">
                    <div class="blog-img"><img src="/content/images/blog/3.png" class="img-responsive" alt=""></div>
                    <div class="blog-content">
                        <p class="blog-title">10 points to remember before last date of ITR filing</p>
                        <p class="blogr-name"><span class="blog-generator">EazyKar,</span><span class="blog-date">21 October 2018</span></p>
                        <p class="blog-detail limit-text">I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability.</p>
                        <p><span class="pull-right"><a href="">Read More__</a></span></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="blog-box">
                    <div class="blog-img"><img src="/content/images/blog/1.png" class="img-responsive" alt=""></div>
                    <div class="blog-content">
                        <p class="blog-title">10 points to remember before last date of ITR filing</p>
                        <p class="blogr-name"><span class="blog-generator">EazyKar,</span><span class="blog-date">21 October 2018</span></p>
                        <p class="blog-detail limit-text">I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability.</p>
                        <p><span class="pull-right"><a href="">Read More__</a></span></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="blog-box">
                    <div class="blog-img"><img src="/content/images/blog/2.png" class="img-responsive" alt=""></div>
                    <div class="blog-content">
                        <p class="blog-title">10 points to remember before last date of ITR filing</p>
                        <p class="blogr-name"><span class="blog-generator">EazyKar,</span><span class="blog-date">21 October 2018</span></p>
                        <p class="blog-detail limit-text">I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability.</p>
                        <p><span class="pull-right"><a href="">Read More__</a></span></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="blog-box">
                    <div class="blog-img"><img src="/content/images/blog/3.png" class="img-responsive" alt=""></div>
                    <div class="blog-content">
                        <p class="blog-title">10 points to remember before last date of ITR filing</p>
                        <p class="blogr-name"><span class="blog-generator">EazyKar,</span><span class="blog-date">21 October 2018</span></p>
                        <p class="blog-detail limit-text">I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability.</p>
                        <p><span class="pull-right"><a href="">Read More__</a></span></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="blog-box">
                    <div class="blog-img"><img src="/content/images/blog/1.png" class="img-responsive" alt=""></div>
                    <div class="blog-content">
                        <p class="blog-title">10 points to remember before last date of ITR filing</p>
                        <p class="blogr-name"><span class="blog-generator">EazyKar,</span><span class="blog-date">21 October 2018</span></p>
                        <p class="blog-detail limit-text">I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability.</p>
                        <p><span class="pull-right"><a href="">Read More__</a></span></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="blog-box">
                    <div class="blog-img"><img src="/content/images/blog/2.png" class="img-responsive" alt=""></div>
                    <div class="blog-content">
                        <p class="blog-title">10 points to remember before last date of ITR filing</p>
                        <p class="blogr-name"><span class="blog-generator">EazyKar,</span><span class="blog-date">21 October 2018</span></p>
                        <p class="blog-detail limit-text">I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability.</p>
                        <p><span class="pull-right"><a href="">Read More__</a></span></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="blog-box">
                    <div class="blog-img"><img src="/content/images/blog/3.png" class="img-responsive" alt=""></div>
                    <div class="blog-content">
                        <p class="blog-title">10 points to remember before last date of ITR filing</p>
                        <p class="blogr-name"><span class="blog-generator">EazyKar,</span><span class="blog-date">21 October 2018</span></p>
                        <p class="blog-detail limit-text">I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability.</p>
                        <p><span class="pull-right"><a href="">Read More__</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
