@import "../components/sidebar/sidebar.theme";

@mixin fuse-core-theme($theme) {

    // Theming for Fuse core styles
    @include colors-theme($theme);
    @include cards-theme($theme);
    @include material-theme($theme);
    @include page-layouts-theme($theme);
    @include typography-theme($theme);

    // Theming for Fuse components
    @include fuse-sidebar-theme($theme);

    // Theming for 3rd party components
    @include ngx-datatable-theme($theme);
}

