<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center">Title</h1>
    <h5 class="text-center">Subtitle</h5>
    <hr/>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut enim nihil nobis quae unde voluptate. Ab accusamus, assumenda fugiat ipsa nesciunt numquam perferendis quo recusandae repellendus sequi voluptatum!</p>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut enim nihil nobis quae unde voluptate. Ab accusamus, assumenda fugiat ipsa nesciunt numquam perferendis quo recusandae repellendus sequi voluptatum!</p>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut enim nihil nobis quae unde voluptate. Ab accusamus, assumenda fugiat ipsa nesciunt numquam perferendis quo recusandae repellendus sequi voluptatum!</p>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut enim nihil nobis quae unde voluptate. Ab accusamus, assumenda fugiat ipsa nesciunt numquam perferendis quo recusandae repellendus sequi voluptatum!</p>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aut enim nihil nobis quae unde voluptate. Ab accusamus, assumenda fugiat ipsa nesciunt numquam perferendis quo recusandae repellendus sequi voluptatum!</p>
  </div>
  <div class="col-md-1"></div>
</div>
