<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="userlogin" style="opacity: 1">
        <form data-toggle="validator" role="form" (ngSubmit)="login()">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Username" id="email" autofocus #emailInput
                                   [(ngModel)]="username">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password"
                                   id="password" [(ngModel)]="password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <input class="btn btn-sm btn-primary" type="submit" value="Login">
                    </div>
                    <div class="col-12 text-center">
                        <input class="btn btn-sm btn-default btn-light" type="button" (click)="requestResetPassword()" value="Forgot Password?">
                    </div>
                </div>
            </div>
        </form>
        <br/>
    </div>

</div>
