<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="houseProperty">
            <h2><span jhiTranslate="eazykarApp.houseProperty.detail.title">House Property</span> {{houseProperty.id}}</h2>
            <hr>
            <ezkr-alert-error></ezkr-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eazykarApp.houseProperty.address">Address</span></dt>
                <dd>
                    <span>{{houseProperty.address}}</span>
                </dd>
                <dt><span jhiTranslate="eazykarApp.houseProperty.tenant">Tenant</span></dt>
                <dd>
                    <span>{{houseProperty.tenant}}</span>
                </dd>
                <dt><span jhiTranslate="eazykarApp.houseProperty.propertyTax">Property Tax</span></dt>
                <dd>
                    <span>{{houseProperty.propertyTax}}</span>
                </dd>
                <dt><span jhiTranslate="eazykarApp.houseProperty.housingLoanInterest">Housing Loan Interest</span></dt>
                <dd>
                    <span>{{houseProperty.housingLoanInterest}}</span>
                </dd>
                <dt><span jhiTranslate="eazykarApp.houseProperty.user">User</span></dt>
                <dd>
                    {{houseProperty.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/house-property', houseProperty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
