<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="ezkr-house-property-heading" jhiTranslate="eazykarApp.houseProperty.home.createOrEditLabel">Create or edit a House Property</h2>
            <div>
                <ezkr-alert-error></ezkr-alert-error>
                <div class="form-group" [hidden]="!houseProperty.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="houseProperty.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.houseProperty.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="houseProperty.address" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.address?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.houseProperty.tenant" for="field_tenant">Tenant</label>
                    <input type="text" class="form-control" name="tenant" id="field_tenant"
                        [(ngModel)]="houseProperty.tenant" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.tenant?.dirty && editForm.controls.tenant?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tenant?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.houseProperty.propertyTax" for="field_propertyTax">Property Tax</label>
                    <input type="number" class="form-control" name="propertyTax" id="field_propertyTax"
                        [(ngModel)]="houseProperty.propertyTax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.houseProperty.housingLoanInterest" for="field_housingLoanInterest">Housing Loan Interest</label>
                    <input type="number" class="form-control" name="housingLoanInterest" id="field_housingLoanInterest"
                        [(ngModel)]="houseProperty.housingLoanInterest" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.houseProperty.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="houseProperty.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === houseProperty.user?.id ? houseProperty.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
