<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16 mt-16">
                    <a [routerLink]="''"><img class="logo-icon" src="/content/images/logo.png"></a>
                </div>
            </div>

            <div class="px-8 px-md-16" *ngIf="enableShortcuts">
                <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
            </div>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <ng-container *ngIf="!isAuthenticated()">
                <ng-container *ngTemplateOutlet="unAuthenticatedMenus"></ng-container>
            </ng-container>

            <ng-container *ngIf="isAuthenticated() && account">
                <ng-container *ngTemplateOutlet="authenticatedMenus"></ng-container>
            </ng-container>

            <div class="toolbar-separator"></div>

            <fuse-search-bar (input)="search($event)" *ngIf="enableSearch"></fuse-search-bar>

            <div class="toolbar-separator"></div>

            <button mat-button fxHide fxShow.gt-xs
                    *ngIf="enableLanguage"
                    class="language-button"
                    [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'content/icons/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button>

            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'content/icons/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>

                <button mat-menu-item [routerLink]="'/components/multi-language'">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Learn more</span>
                    </div>
                </button>

            </mat-menu>

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button fxHide.gt-md
                    class="chat-panel-toggle-button"
                    (click)="toggleSidebarOpen('chatPanel')"
                    aria-label="Toggle chat panel">
                <mat-icon class="secondary-text">chat</mat-icon>
            </button>

            <div class="toolbar-separator" fxHide.gt-md></div>

            <button mat-icon-button
                    *ngIf="enableQuickPanel"
                    class="quick-panel-toggle-button"
                    (click)="toggleSidebarOpen('quickPanel')"
                    aria-label="Toggle quick panel">
                <mat-icon class="secondary-text">format_list_bulleted</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>

            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

        </div>

    </div>

</mat-toolbar>

<ng-template #unAuthenticatedMenus>

    <div class="toolbar-separator"></div>

    <button mat-button [routerLink]="'/pages/tax-services'"
            class="menu-button"
            aria-label="Toggle quick panel">
        <div fxLayout="row" fxLayoutAlign="center center">
            <!--<mat-icon class="secondary-text">library_books</mat-icon>-->
            <span class="username mr-12" fxHide fxShow.gt-sm>Tax Services</span>
        </div>
    </button>

    <div class="toolbar-separator"></div>

    <button mat-button [routerLink]="'/pages/tax-knowledge'"
            class="menu-button"
            aria-label="Toggle quick panel">
        <div fxLayout="row" fxLayoutAlign="center center">
            <!--<mat-icon class="secondary-text">library_books</mat-icon>-->
            <span class="username mr-12" fxHide fxShow.gt-sm>Tax Knowledge</span>
        </div>
    </button>

    <div class="toolbar-separator"></div>

    <button mat-button [matMenuTriggerFor]="loginMenu"
            class="user-button">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img class="avatar mr-0 mr-sm-16" [src]="getImageUrl()">
            <span class="username mr-12" fxHide fxShow.gt-sm>Sign In</span>
            <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
    </button>

    <mat-menu #loginMenu="matMenu" [overlapTrigger]="false">

        <button mat-menu-item routerLink="pages/auth/login-2">
            <mat-icon>fingerprint</mat-icon>
            <span>Sign In</span>
        </button>

        <button mat-menu-item routerLink="pages/auth/register-2">
            <mat-icon>how_to_reg</mat-icon>
            <span>Register</span>
        </button>

    </mat-menu>

</ng-template>

<ng-template #authenticatedMenus>

<!--
    <button mat-button fxHide fxShow.gt-xs
            class="language-button"
            [matMenuTriggerFor]="languageMenu">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img class="flag mr-8" [src]="'assets/icons/flags/'+selectedLanguage.flag+'.png'">
            <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
        </div>
    </button>
-->
    <div class="toolbar-separator"></div>

    <button mat-button class="menu-button"
            [routerLink]="['pages', 'workflow']"
            [queryParams]="{currentStep: 0}"
            *ezkrHasNoneOfTheAuthorities="['ROLE_CA', 'ROLE_CA_MANAGER']">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>assignment</mat-icon>
            <span>&nbsp; My ITR</span>
        </div>
    </button>

    <div class="toolbar-separator"></div>

    <button mat-button class="menu-button"
            [routerLink]="['pages', 'workflow']"
            [queryParams]="{currentStep: 1}"
            *ezkrHasAnyAuthority="['ROLE_CA_MANAGER', 'ROLE_CA']">
        <div fxLayout="row" fxLayoutAlign="center center">
            <!--<img class="avatar mr-0 mr-sm-16" src="/content/icons/material-icons/outline/fonts/">\-->
            <mat-icon>file_copy</mat-icon>
            <span>&nbsp; Applications</span>
            <!--<span class="username mr-12" fxHide fxShow.gt-sm>Sign In</span>-->
            <!--<mat-icon class="s-16" fxHide.xs>help_outline</mat-icon>-->
        </div>
    </button>

    <div class="toolbar-separator"></div>

    <button mat-button [matMenuTriggerFor]="helpMenu"
            class="menu-button">
        <div fxLayout="row" fxLayoutAlign="center center">
            <!--<img class="avatar mr-0 mr-sm-16" src="/content/icons/material-icons/outline/fonts/">\-->
            <mat-icon>help_outline</mat-icon>
            <!--<span class="username mr-12" fxHide fxShow.gt-sm>Sign In</span>-->
            <!--<mat-icon class="s-16" fxHide.xs>help_outline</mat-icon>-->
        </div>
    </button>
    <mat-menu #helpMenu="matMenu" [overlapTrigger]="false">

        <button mat-menu-item [routerLink]="'/pages/tax-services'">
            <mat-icon>question_answer</mat-icon>
            <span>Tax Services</span>
        </button>

        <button mat-menu-item [routerLink]="'/pages/tax-knowledge'">
            <mat-icon>library_books</mat-icon>
            <span>Tax Knowledge</span>
        </button>

    </mat-menu>

    <div class="toolbar-separator"></div>

    <button mat-button [matMenuTriggerFor]="userMenu"
            class="user-button">
        <div fxLayout="row" fxLayoutAlign="center center">
            <!--<img class="avatar mr-0 mr-sm-16" [src]="getImageUrl()" alt="Avatar">-->
            <img class="avatar mr-0 mr-sm-16" src="/content/images/avatars/Velazquez.jpg" alt="Avatar">
            <span class="username mr-12" fxHide fxShow.gt-sm>{{account.firstName}}</span>
            <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
    </button>

    <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

        <button mat-menu-item [routerLink]="'/pages/user-profile'" *ezkrHasAnyAuthority="'ROLE_USER'">
            <mat-icon>account_circle</mat-icon>
            <span>My Profile</span>
        </button>

        <button mat-menu-item class="" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>

    </mat-menu>
</ng-template>
