<div>
    <h2 id="page-heading">
        <span jhiTranslate="eazykarApp.userPlan.home.title">User Plans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-plan" [routerLink]="['/user-plan/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eazykarApp.userPlan.home.createLabel">
            Create new User Plan
            </span>
        </button>
    </h2>
    <ezkr-alert></ezkr-alert>
    <br/>
    <div class="table-responsive" *ngIf="userPlans">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="purchasedOn"><span jhiTranslate="eazykarApp.userPlan.purchasedOn">Purchased On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="eazykarApp.userPlan.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="plan.id"><span jhiTranslate="eazykarApp.userPlan.plan">Plan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userPlan of userPlans ;trackBy: trackId">
                <td><a [routerLink]="['/user-plan', userPlan.id, 'view' ]">{{userPlan.id}}</a></td>
                <td>{{userPlan.purchasedOn | date:'mediumDate'}}</td>
                <td>
                    {{userPlan.user?.id}}
                </td>
                <td>
                    <div *ngIf="userPlan.plan">
                        <a [routerLink]="['../plan', userPlan.plan?.id, 'view' ]" >{{userPlan.plan?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-plan', userPlan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-plan', userPlan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-plan/'+ userPlan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userPlans && userPlans.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
