<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="ezkr-user-plan-heading" jhiTranslate="eazykarApp.userPlan.home.createOrEditLabel">Create or edit a User Plan</h2>
            <div>
                <ezkr-alert-error></ezkr-alert-error>
                <div class="form-group" [hidden]="!userPlan.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userPlan.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.userPlan.purchasedOn" for="field_purchasedOn">Purchased On</label>
                    <div class="input-group">
                        <input id="field_purchasedOn" type="text" class="form-control" name="purchasedOn" ngbDatepicker  #purchasedOnDp="ngbDatepicker" [(ngModel)]="userPlan.purchasedOn"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="purchasedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.purchasedOn?.dirty && editForm.controls.purchasedOn?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.purchasedOn?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.userPlan.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="userPlan.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === userPlan.user?.id ? userPlan.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.userPlan.plan" for="field_plan">Plan</label>
                    <select class="form-control" id="field_plan" name="plan" [(ngModel)]="userPlan.plan"  required>
                        <option *ngIf="!editForm.value.plan" [ngValue]="null" selected></option>
                        <option [ngValue]="planOption.id === userPlan.plan?.id ? userPlan.plan : planOption" *ngFor="let planOption of plans; trackBy: trackPlanById">{{planOption.planName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.plan?.dirty && editForm.controls.plan?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.plan?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
