<!--
<div>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Error Page!</h1>

            <div [hidden]="!errorMessage">
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>
            <div [hidden]="!error403" class="alert alert-danger">You are not authorized to access this page.
            </div>
        </div>
    </div>
</div>
-->

<div id="error-404" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code" *ngIf="error403">403</div>

        <div class="message">You are not authorized to access this page.</div>
        <br>
        <div class="message">{{errorMessage}}</div>

        <div class="search" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="icon s-24">search</mat-icon>
            <input placeholder="Search for something" fxFlex>
        </div>

        <a class="back-link" [routerLink]="'/'">Go back to home</a>

    </div>

</div>
