#ct {
    background: #1D1F20;
    height: 150px;
    width: 370px;
    border: 1px solid #f1c40f;
    margin: 20px auto;
    text-align: center;
    position: relative;
    color: #fff;
    padding: 15px;

    span {
        background: #1D1F20;
        color: #f1c40f;
        padding: 0 10px;
        font-size: 20px;
        position: relative;
        top: -28px;
    }

    .corner {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid #fff;
        transform: rotate(-45deg);
        position: absolute;
        background: #1D1F20;
    }

    #left_top {
        top: -16px;
        left: -16px;
        border-color: transparent transparent #f1c40f transparent;
    }

    #right_top {
        top: -16px;
        right: -16px;
        border-color: transparent transparent transparent #f1c40f;
    }

    #left_bottom {
        bottom: -16px;
        left: -16px;
        border-color: transparent #f1c40f transparent transparent;
    }

    #right_bottom {
        bottom: -16px;
        right: -16px;
        border-color: #f1c40f transparent transparent transparent;
    }

    p {
        padding-top: 13px;
        font-size: 18px
    }
}

