<!-- Page Banner Section Start -->
<div class="page-banner-section" style="background-image: url(../../content/images/bg/page-banner-bg.jpg)" data-overlay="theme-color"
     data-opacity="8">
    <div class="container">
        <div class="page-banner row align-items-center">

            <!-- Page Title -->
            <div class="col-lg-6 col-12">
                <h1 class="page-title">Sign In</h1>
            </div>

        </div>
    </div>
</div><!-- Page Banner Section End -->
<!-- Contact Section Start -->

<div class="contact-section pt-55 ">
    <div class="clearfix">
        <div id="user-reg" class="container" style="padding-bottom: 25px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-1 hidden-sm hidden-xs mt30 partitionRight">
                    <div class="mb30">
                        <h1 class="ct-h4 mb0">EasyKar makes Filing IT Returns as easy and effective as humanly possible.</h1>
                    </div>
                    <ul class="pr15 ct-register--trust-markerlist ct-list--none pl0 pb30 ct-border-bottom">
                        <li><p class="ct-font-sm m0">Dedicated Support team of highly experienced experts at your disposal.</p></li>
                        <li><p class="ct-font-sm m0">Time-based Services that ensure timely financial planning.</p></li>
                        <li><p class="ct-font-sm m0">High-level privacy and absolute confidentiality.</p></li>
                        <li><p class="ct-font-sm m0">Highly secure servers that keep your Financial Data safe.</p></li>
                        <li><p class="ct-font-sm m0">Machine-Level Accuracy backed by Expert Support.</p></li>
                        <li><p class="ct-font-sm m0">Over 1000 CAs to help you. 24/7 support for resolution of your questions.</p></li>
                    </ul>

                    <div class="mb30">
                        <h1 class="ct-h4 mb0">Benefits of Hiring Us to File IT Online ?</h1>
                    </div>
                    <ul class="pr15 ct-register--trust-markerlist ct-list--none pl0 pb30 ct-border-bottom">
                        <li><p class="ct-font-sm m0">File Returns without spending tedious hours with a CA</p></li>
                        <li><p class="ct-font-sm m0">Do your filing in your spare time, from literally anywhere.</p></li>
                        <li><p class="ct-font-sm m0">Economic Packages.</p></li>
                        <li><p class="ct-font-sm m0">We make Financial Concepts simple and easy for our clients</p></li>
                        <li><p class="ct-font-sm m0">Highly Up-To-Date experts</p></li>

                    </ul>

                </div>

                <div class="col-md-4">
                    <div class="logregbox">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" routerLink="/sign-in/sign-in-login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a routerLinkActive="active" class="nav-link" routerLink="/sign-in/sign-in-register">Register</a>
                            </li>
                        </ul>

                        <router-outlet></router-outlet>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
