<div class="p-24">
    <div class="page-layout simple">
        <form fxLayout="column" [formGroup]="otherIncomeForm" (ngSubmit)="saveOtherIncome()">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" class="p-4" fxFlex="33">
                    <mat-label>Interest Income</mat-label>
                    <input matInput type="number" formControlName="interestIncome">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="33">
                    <mat-label>Any Other Income</mat-label>
                    <input matInput type="number" formControlName="anyOtherIncome">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" class="p-4" fxFlex="33">
                    <mat-label>Exempt Dividend</mat-label>
                    <input matInput type="number" formControlName="exemptDividend">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="33">
                    <mat-label>Exempt Interest</mat-label>
                    <input matInput type="number" formControlName="exemptInterest">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="33">
                    <mat-label>Exempt Other Income</mat-label>
                    <input matInput type="number" formControlName="exemptOtherIncome">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button type="submit" color="accent" [disabled]="!otherIncomeForm.valid">
                    {{ isSaving ? 'Saving...' : 'Save My Income Details' }}
                </button>
            </div>

        </form>
    </div>
</div>
