<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tax & Finance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <!-- Lightgallery CSS -->
    <link rel="stylesheet" href="assets/css/lightgallery.min.css">	
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">    
    <!-- VMap CSS -->
    <link rel="stylesheet" href="assets/css/jqvmap.min.css">    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">    


 

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
   
    <style>
        .panel-default {
            padding: 6px;
            padding-left: 24px;
            padding-top: 15px;
            background: rgba(255, 255, 255, 0.39);
            border-radius: 8px;
            margin-bottom: 10px;
        }
        .panel-body {
            color: #fff;
            padding: 15px;
        }

        .panel-title {
            text-align:center;
        }
        .maintitle{
            text-align:center;
            width:100%;
            color:#fff;
            margin-bottom:20px;
        }
        .infobox {
            width: 100%;
            background-color: #fff;
            color: #7d7d7d;
            text-align: center;
            padding: 26px;
            /* margin: 20px; */
            border: 1px solid #f3f3f3;
            min-height: 165px;
            /* border-radius: 6px; */
        }
        .infobox2 {
            width: 100%;
            background-color: #fff;
            color: #7d7d7d;
            text-align: center;
            padding: 26px;
            /*margin: 20px;*/
            /*border: 1px solid #007bff;*/
            min-height: 180px;
            border-radius: 6px;
        }
        .infobox h4{
            color:#0485d9;
        }
        .modal-content {
            top:12em;
        }
        .btn2 {
            cursor: pointer;
            display: inline-block;
            border: none;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #708dd4;
            line-height: 20px;
            background-color: #ffffff;
            border: 1px solid #aabce8;
            padding: 17px 22px;
            border-radius: 3px;
            position: relative;
            z-index: 1;
        }
        .tabli ul, .tabli li{
            list-style:disc;
            margin-bottom:15px;
        }
        .wrapper.center-block span {
            margin-bottom:10px;
        }
        .video-area{
            padding-top:50px;
            padding-bottom:50px;
        }

        @media(max-width:769px){
            .btn2{
                width:100%;
                margin-bottom:5px;
            }
        }

        .nav-tabs .nav-item {
            margin-bottom: -1px;
            width: 100%;
            text-align: center;
        }

        .tab-pane {
            padding: 20px;
        }

        .btnn {
            display: inline-block;
            border: none;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #0037c1;
            line-height: 8px;
            background-color: #ffffff;
            border: 1px solid #0037c1;
            padding: 10px 10px;
            border-radius: 3px;
            position: relative;
            z-index: 1;
        }

    </style>


</head>

<body>

<!-- Main Wrapper Start -->
<div class="main-wrapper">

    <!-- Header Bottom Start -->
    <div class="header-bottom header-sticky side-padding headline">
        <div class="container">
            <div class="row">
                <!-- Logo Start -->
                <div class="col">
                    <a th:href="@{/}" href="index.html" class="logo"><img src="assets/images/logo.png" alt="Logo"></a>
                </div><!-- Logo End -->
                <!-- Main Menu Start -->
                <div class="col d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul style="padding: 22px 0px;">
                                <li><a th:href="@{/}" href="index.html">Tax Services</a></li>
                                <li><a th:href="@{/tax-knowledge}" href="tax-knowledge.html">Tax Knowledge</a></li>
                                <li><a th:href="@{/contact-us}" href="contact-us.html">Contact Us</a> </li>
                                <li><a th:href="@{/signin}" href="signin.html" class="loginbtn btn-red">Login</a> </li>
                            </ul>
                        </nav>
                    </div>
                </div><!-- Main Menu End -->

                <div class="mobile-menu d-block d-lg-none col"></div><!-- Mobile Menu End -->
            </div>
        </div>





    </div><!-- Header Bottom End -->

        </div><!-- Header Section End -->

    <!-- Hero Section Start -->
    <div class="hero-section">
        <!-- Hero Slider Start -->
        <div class="hero-slider">
			
			<!-- Hero Item Start -->
            <div class="hero-item bg-theme">
                <div class="container">
                    <div class="row">                     
                        <!-- Hero Content -->
                               <h1 class="maintitle">Online Tax Expert for Income Tax Services</h1>  
                        
                        <div class="col-md-4 infobox">
                            <div class="">
                                <h4>Time Based tax Services</h4><hr />
                                <p>First in class with time based Income Tax Services.</p>
                            </div>
                        </div>
                        <div class="col-md-4 infobox">
                            <div class="">
                                <h4>Online Personalized CA Services</h4><hr />
                                <p>Own your personalized charted accountant services at price starting from Rs 999.</p>
                            </div>
                        </div>
                        <div class="col-md-4 infobox">
                            <div class="">
                                <h4>Lifetime tax Service</h4><hr />
                                <p>Avail lifetime tax services without hassle.</p>
                            </div>
                        </div>
                        
                        
                             
                    </div>
                </div>
           <!-- Hero Item End -->
			
            
            <!--<div class="hero-item bg-theme">
                <div class="container">
                    
                </div>
            </div>-->
			
        </div><!-- Hero Slider End -->
    </div><!-- Hero Section End -->
	
	<!-- Mission Area -->
	<div class="mission-area bg-gray pt-60">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="mission-area-content pt-35">
                             
                                        <div class="mission-area-content  pb-70">
                                            <h2 class="text-center">Our Income Tax <b>E-Filing Process</b></h2><hr />
                                            <div class="row">

                                                <div class="col-md-6 pt-70">

                                                    <h4 style="font-size:28px;">Just upload your documents and our E-filing expert will prepare your tax return.</h4>
                                                    <br />
                                                    <a th:href="@{/tax-knowledge}" href="tax-knowledge.html" class="cr-btn">
                                                        <span>Know Your TAX</span>
                                                    </a>
                                                </div>
                                                <div class="col-md-6">

                                                    <img class=" wow fadeinright" src="assets/images/about/taxstep.png" style="width:100%;" alt="mission area thumb">

                                                </div>
                                                
                                            </div>
                                               
                                            </div>    
					</div>
				</div>
				<div class="col-md-12 col-lg-6 col-sm-12">
					<div class="mission-area-thumb">
                        
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// Mission Area -->
	
    <!-- Service Section Start -->
    <div class="video-area bg-fixed" style="background-image: url(assets/images/bg/1.png)" data-overlay="theme-color" data-opacity="8">
        <div class="container">
            <div class="row">

                <!-- Section Title Start -->
               
                <!-- Feature Start-->
                <div class="col-lg-3 infobox">
                    <div class="wrapper center-block">
                        <span class="fa fa-lg  fa-paper-plane text-info" style="display:block;"></span>
                        <b>Tax Planning </b><hr />
                        <p>If you are confused about 80C and other Tax breaks that you qualify for, then our team would be more than glad to assess your requirements and make the right suggestions.</p>

                        
                        <a th:href="@{/tax-knowledge}" href="tax-knowledge.html" data-toggle="modal" data-target="#myModal" class="btn btn-outline-info">
                            <span>Know More</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 infobox">
                    <div class="wrapper center-block">
                        <span class="fa fa-lg  fa-clock-o text-info" style="display:block;"></span>
                        <b>Time-Based Services</b><hr />
                        <br />
                        <p>Our services are directed toward quality and therefore we provide you with the cutting edge time-based services.</p>
                        <br />
                        <a th:href="@{/tax-knowledge}" href="tax-knowledge.html" data-toggle="modal" data-target="#myModal2" class="btn btn-outline-info">
                            <span>Know More</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 infobox">
                    <div class="wrapper center-block">
                        <span class="fa fa-lg  fa-briefcase text-info" style="display:block;"></span>
                        <b>Customized Services for Businesses</b><hr />
                        <br />
                        <p>Post your business tax requirements and our expert will prepare customized solutions for you in no time.</p>

                        <br />
                        <a th:href="@{/tax-knowledge}" href="tax-knowledge.html" data-toggle="modal" data-target="#myModal3" class="btn btn-outline-info">
                            <span>Know More</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 infobox">
                    <div class="wrapper center-block">
                        <span class="fa fa-lg  fa-shield text-info" style="display:block;"></span>
                        <b>Highly Secure Data Management</b><hr />
                        <br />
                        <p>Customer Data is protected with 128 bit SS and ISO 27001 for data centre with round the clock availability.</p>
                        <br />
                        <a th:href="@{/tax-knowledge}" href="tax-knowledge.html" data-toggle="modal" data-target="#myModal4" class="btn btn-outline-info">
                            <span>Know More</span>
                        </a>
                    </div>
                </div>
                <!-- Feature End-->

            </div>
        </div>
    </div>
	
	
	<!-- Service Section Start -->
    <div class="team-section pb-55">
        <div class="container">
            <div class="row">                
                <!-- Section Title Start -->
                <div class="col-12 pb-50 pt-80 tabli">
                    <h2 class="text-center">Why <b>Us  ?</b></h2>
                    <hr />
                    <br />


                    <div class="w3-bar w3-black">
                        <div class="btn2 cr-btn" onclick="openCity('Commitment')">Expertise and Commitment </div>
                        <div class="btn2 cr-btn" onclick="openCity('Support')">Online and Offline Support </div>
                        <div class="btn2 cr-btn" onclick="openCity('Skills')">Research Skills </div>
                        <div class="btn2 cr-btn" onclick="openCity('Risk')">Risk Analysis and Minimization</div>
                        <div class="btn2 cr-btn" onclick="openCity('Scrutiny')">Records Scrutiny</div>
                        <div class="btn2 cr-btn" onclick="openCity('Privacy')">We Guard your Privacy</div>
                    </div>

                    <div id="Commitment" class="w3-container w3-display-container city pt-40">

                        <h2>Expertise and Commitment</h2>
                        <ul>
                            <li>EazyKar is a team of dedicated professionals and are well-versed with the latest expectations and actions of the Income Tax Department. </li>
                            
                            <li>We absolutely understand the concerns of our clients and give them a Bird’s Eye view of what the future holds. </li>
                        </ul>
                    </div>

                    <div id="Support" class="w3-container w3-display-container city  pt-40" style="display:none">

                        <h2>Online and Offline Support </h2>
                        <ul>
                            <li>EazyKar offers you access to one of the most advanced and updated Software that ensures 99.99 percent human-grade accuracy. </li>
                            
                            <li>Our Technical Team updates the software from time to time to provide you with the most accurate calculations for filing of returns. </li>
                            
                            <li>We provide personalized services in case you need our support beyond mere filing of annual returns.</li>
                        </ul>
                    </div>

                    <div id="Skills" class="w3-container w3-display-container city  pt-40" style="display:none">

                        <h2>Research Skills </h2>
                        <ul>
                            <li>Our team of professionals understands the need and necessity to remain informed in order to protect the interests of our clients. Therefore, we are always up-to-date with the latest Circulars, Notifications, Amendments and Judgments that impact the financial interests of our clients.</li>
                            <li>With our certified and conversant team of Professionals, we work non-stop to minimize our Client’s risk of non-compliance and litigation. </li>
                        </ul>

                    </div>

                    <div id="Risk" class="w3-container w3-display-container city  pt-40" style="display:none">
                        <h2>Risk Analysis and Minimization  </h2>
                        <ul>
                            <li>Without a rock-solid foundation, even the tallest Tower collapses and that’s true when it comes to business and individual growth. We measure your risk and give best possible solutions to minimize it.</li>
                            <li>We help you comply with the required Accounting Standards, co-ordinate with your Cost Accountants, Auditors and internal Tax Team to help you with the overall compliance.</li>
                        </ul>
                    </div>

                    <div id="Scrutiny" class="w3-container w3-display-container city  pt-40" style="display:none">
                        <h2>Records Scrutiny </h2>
                        <ul>
                            <li>Our core expertise is in analyzing the past records and pinpointing the strengths and weakness of the Financial Documents. </li>
                            <li>We make suggestions pertaining to non compliance of the mandatory Accounting and Auditing norms. </li>
                        </ul>
                    </div>

                    <div id="Privacy" class="w3-container w3-display-container city  pt-40" style="display:none">
                        <h2>We Guard your Privacy </h2>
                        <ul>
                            <li>You can expect absolute privacy while working with us because we strive towards guarding your Financial Data.</li>
                            <li>Engaging us not only saves your time but also keeps your financial data private, ensuring that it remains safe from your contemporaries. </li>
                        </ul>
                    </div>




                    <script>
function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
}
                    </script>
                



                </div>
				<!-- Section Title End --> 
            </div>
			
        </div>
    </div>
	<!-- Service Section End -->
	

	
	
	
	

	
	


	
    <!-- Footer Top Section Start -->
    <div class="footer-top-section bg-cyan-blue pt-100 pb-60">
        <div class="container">
            <div class="row">
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-left col-lg-4 col-md-6 col-12 mb-40">                    
                    <h3 class="title">Contact <span>Us</span></h3>                    
                    <ul class="contact-list">
                        <li><span>Phone:</span> <a href="tel:+99858547589">+91 8888888888</a></li>
                        <li><span>Email:</span> <a href="#">info@examplel.com</a></li>
                        <li><span>Address:</span> House 10, Road Nomber 32 <br>Ognada, Malay 1212.</li>
                    </ul>                    
                </div>
				<!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-center col-lg-4 col-md-6 col-12 mb-40">                    
                    <div class="footer-about">                       
                        <!-- Logo -->
                        <img src="assets/images/footer-logo.png" alt="Footer Logo">
                        <p>Combined with a handful of model sente nce structures, to generate Lorem Ipsum whilooks reasonable. The generated Lorem.</p>
                        <!-- Social -->
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>    
                            <a href="#"><i class="fa fa-twitter"></i></a>    
                            <a href="#"><i class="fa fa-instagram"></i></a>    
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>    
                            <a href="#"><i class="fa fa-linkedin"></i></a>    
                        </div>                       
                    </div>                    
                </div>
				<!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-right col-lg-4 col-md-6 col-12 mb-40">                    
                    <h3 class="title">INSTAGRAM <span>photos</span></h3>                   
                    <div class="footer-instagram">
                        <ul id="instagram-feed"></ul>
                    </div>                    
                </div>
				<!-- Footer Widget End -->
                
            </div>
        </div>
    </div><!-- Footer Top Section End -->





        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                       <h4 class="modal-title"><i class="fa fa-lg  fa-paper-plane text-info"></i> Tax Planning</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        
                        <p>With proper Tax Planning, you also take a step forward towards planning the right Tax breaks depending on your Risk Potential. We can suggest some of the best investments for you to earn maximum returns as well as benefit from the available Tax breaks.</p>
                   <br />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                   
                </div>

            </div>
        </div>


        <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-lg  fa-clock-o  text-info"></i> Time-Based Services</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        
                        <p>We are a one-stop solution for all your Tax Assessment and Planning related requirements. None of our services are linked to your sources of Income, thereby ensuring you with top-grade financial services.  </p>
                        <br />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>
        </div>

        <div id="myModal3" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-lg fa-briefcase  text-info"></i> Customized Services for Businesses</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        
                        <p>We understand that as a business enterprise, you have your specific set of requirements and may or may not avail consulting services from a single service-provider. Therefore, along with our time-based packages, we also provide you with an open-window system and you can drop us a line with your requirements and our Executive will assess the same and get back to you with a quote.</p>
                        <br />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>
        </div>

        <div id="myModal4" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-lg  fa-shield text-info"></i> Highly Secure Data Management</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        
                        <p>We use highly advanced technologies to manage the data that you provide us with. We implement the most innovative technologies, thereby minimizing the chances of Data loss or leakage to the bare minimum. </p>
                        <br />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>
        </div>




    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section">
        <div class="container">
            <div class="row">                
                <!-- Footer Copyright -->
                <div class="footer-copyright text-center col-12">
                    <p>Copyright © All Right Reserved</p>
                </div>                
            </div>
        </div>
    </div>
	<!-- Footer Bottom Section End -->
    
</div>
<!-- Main Wrapper End -->

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- VMap JS -->
<script src="assets/js/jquery.vmap.min.js"></script>
<script src="assets/js/maps/jquery.vmap.world.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>

    <script>
      

        $(".panel-collapse").on("show.bs.collapse", function () {
            $(this)
              .siblings(".panel-heading")
              .addClass("active");
        });

        $(".panel-collapse").on("hide.bs.collapse", function () {
            $(this)
              .siblings(".panel-heading")
              .removeClass("active");
        });



    </script>


    <script>
            function openCity(cityName) {
                var i;
                var x = document.getElementsByClassName("city");
                for (i = 0; i < x.length; i++) {
                   x[i].style.display = "none";
                }
                document.getElementById(cityName).style.display = "block";
            }
    </script>



</body>



</html>