<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tax & Finance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <!-- Lightgallery CSS -->
    <link rel="stylesheet" href="assets/css/lightgallery.min.css">	
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">    
    <!-- VMap CSS -->
    <link rel="stylesheet" href="assets/css/jqvmap.min.css">    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">    
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
	
</head>

<body>

<!-- Main Wrapper Start -->
<div class="main-wrapper">

    <!-- Header Section Start -->
    <div class="header-section">

           
            <!-- Header Bottom Start -->
            <div class="header-bottom header-sticky side-padding headline">
                <div class="container">
                    <div class="row">
                        <!-- Logo Start -->
                        <div class="col">
                            <a th:href="@{/}" href="index.html" class="logo"><img src="assets/images/logo.png" alt="Logo"></a>
                        </div><!-- Logo End -->
                        <!-- Main Menu Start -->
                        <div class="col d-none d-lg-block">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a th:href="@{/it-return-services}" href="it-return-services.html">IT Return Services</a></li>
                                        <li><a th:href="@{/tax-knowledge}" href="tax-knowledge.html">Tax Knowledge</a></li>
                                        <li><a th:href="@{/contact-us}" href="contact-us.html">Contant Us</a> </li>
                                        <li><a th:href="@{/register}" href="register.html">Login</a> </li>                                        
                                    </ul>
                                </nav>
                            </div>
                        </div><!-- Main Menu End -->
                        <!-- Header Button Start -->
                        <!--<div class="col">
                            <div class="header-button">
                                <a href="register.html" class="btn btn-red">Register Now</a>
                            </div>
                        </div>-->
                        <!-- Header Button End -->
                        <!-- Mobile Menu Start -->
                        <div class="mobile-menu d-block d-lg-none col"></div><!-- Mobile Menu End -->
                    </div>
                </div>
            </div><!-- Header Bottom End -->

        </div><!-- Header Section End -->

    <!-- Page Banner Section Start -->
    <div class="page-banner-section" style="background-image: url(assets/images/bg/page-banner-bg.jpg)" data-overlay="theme-color" data-opacity="8">
        <div class="container">
            <div class="page-banner row align-items-center">
                
                <!-- Page Title -->
                <div class="col-lg-6 col-12">
                    <h1 class="page-title">IT Return Services</h1>
                </div>
                
                <!-- Page Breadcrumb -->
                <div class="col-lg-6 col-12">
                    <ul class="page-breadcrumb">
                        <li><a th:href="@{/}" href="#">home</a></li>
                        <li class="active">IT Return Services</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
	<!-- Page Banner Section End -->
	
	<!-- Service Section Start -->
    <div class="feature-section pt-100 pb-70">
        <div class="container">
            <div class="row">
                
                <!-- Feature Start-->
                <div class="col-lg-4 col-md-6 col-12"> 
					<div class="feature text-center mb-30"> 
						<!-- Icon -->
						<div class="image">
							<img src="assets/images/service/1.png" alt="" />
						</div>                   
						<!-- Content -->
						<div class="content">
							<h4><a href="service-details.html">Tax Planning</a></h4>
							<p>There are many variations of passag Lorem Ipsum available, but the majority have sfered alteration in some form.</p>
						</div>            
					</div>
                </div>
				<!-- Feature End-->
				
				<!-- Feature Start-->
                <div class="col-lg-4 col-md-6 col-12"> 
					<div class="feature text-center mb-30"> 
						<!-- Icon -->
						<div class="image">
							<img src="assets/images/service/2.png" alt="" />
						</div>                   
						<!-- Content -->
						<div class="content">
							<h4><a href="service-details.html">Supporting Enterprise</a></h4>
							<p>There are many variations of passag Lorem Ipsum available, but the majority have sfered alteration in some form.</p>
						</div>            
					</div>
                </div>
				<!-- Feature End-->
				
				<!-- Feature Start-->
                <div class="col-lg-4 col-md-6 col-12"> 
					<div class="feature text-center mb-30"> 
						<!-- Icon -->
						<div class="image">
							<img src="assets/images/service/3.png" alt="" />
						</div>                   
						<!-- Content -->
						<div class="content">
							<h4><a href="service-details.html">Large Corporate</a></h4>
							<p>There are many variations of passag Lorem Ipsum available, but the majority have sfered alteration in some form.</p>
						</div>            
					</div>
                </div>
				<!-- Feature End-->
				
				<!-- Feature Start-->
                <div class="col-lg-4 col-md-6 col-12"> 
					<div class="feature text-center mb-30"> 
						<!-- Icon -->
						<div class="image">
							<img src="assets/images/service/4.png" alt="" />
						</div>                   
						<!-- Content -->
						<div class="content">
							<h4><a href="service-details.html">Specialty Service</a></h4>
							<p>There are many variations of passag Lorem Ipsum available, but the majority have sfered alteration in some form.</p>
						</div>            
					</div>
                </div>
				<!-- Feature End-->
				
				<!-- Feature Start-->
                <div class="col-lg-4 col-md-6 col-12"> 
					<div class="feature text-center mb-30"> 
						<!-- Icon -->
						<div class="image">
							<img src="assets/images/service/5.png" alt="" />
						</div>                   
						<!-- Content -->
						<div class="content">
							<h4><a href="service-details.html">Bank Reconciliation</a></h4>
							<p>There are many variations of passag Lorem Ipsum available, but the majority have sfered alteration in some form.</p>
						</div>            
					</div>
                </div>
				<!-- Feature End-->
				
				<!-- Feature Start-->
                <div class="col-lg-4 col-md-6 col-12"> 
					<div class="feature text-center mb-30"> 
						<!-- Icon -->
						<div class="image">
							<img src="assets/images/service/6.png" alt="" />
						</div>                   
						<!-- Content -->
						<div class="content">
							<h4><a href="service-details.html">Inheritance Tax</a></h4>
							<p>There are many variations of passag Lorem Ipsum available, but the majority have sfered alteration in some form.</p>
						</div>            
					</div>
                </div>
				<!-- Feature End-->      
                
            </div>
        </div>
    </div>
	<!-- Service Section End -->

    <!-- Footer Top Section Start -->
    <div class="footer-top-section bg-cyan-blue pt-100 pb-60">
        <div class="container">
            <div class="row">
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-left col-lg-4 col-md-6 col-12 mb-40">                    
                    <h3 class="title">Contact <span>Us</span></h3>                    
                    <ul class="contact-list">
                        <li><span>Phone:</span> <a href="tel:+99858547589">+91 8888888888</a></li>
                        <li><span>Email:</span> <a href="#">info@examplel.com</a></li>
                        <li><span>Address:</span> House 10, Road Nomber 32 <br>Ognada, Malay 1212.</li>
                    </ul>                    
                </div>
				<!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-center col-lg-4 col-md-6 col-12 mb-40">                    
                    <div class="footer-about">                       
                        <!-- Logo -->
                        <img src="assets/images/footer-logo.png" alt="Footer Logo">
                        <p>Combined with a handful of model sente nce structures, to generate Lorem Ipsum whilooks reasonable. The generated Lorem.</p>
                        <!-- Social -->
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>    
                            <a href="#"><i class="fa fa-twitter"></i></a>    
                            <a href="#"><i class="fa fa-instagram"></i></a>    
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>    
                            <a href="#"><i class="fa fa-linkedin"></i></a>    
                        </div>                       
                    </div>                    
                </div>
				<!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-right col-lg-4 col-md-6 col-12 mb-40">                    
                    <h3 class="title">INSTAGRAM <span>photos</span></h3>                   
                    <div class="footer-instagram">
                        <ul id="instagram-feed"></ul>
                    </div>                    
                </div>
				<!-- Footer Widget End -->
                
            </div>
        </div>
    </div><!-- Footer Top Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section">
        <div class="container">
            <div class="row">                
                <!-- Footer Copyright -->
                <div class="footer-copyright text-center col-12">
                    <p>Copyright © All Right Reserved</p>
                </div>                
            </div>
        </div>
    </div>
	<!-- Footer Bottom Section End -->
    
</div>
<!-- Main Wrapper End -->

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- VMap JS -->
<script src="assets/js/jquery.vmap.min.js"></script>
<script src="assets/js/maps/jquery.vmap.world.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>

</html>