<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tax & Finance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <!-- Lightgallery CSS -->
    <link rel="stylesheet" href="assets/css/lightgallery.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- VMap CSS -->
    <link rel="stylesheet" href="assets/css/jqvmap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/userlogin.css">


    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>



    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>


    <style>

        input[type=checkbox], input[type=radio] {
            box-sizing: border-box;            
            margin-top: 4px;
            margin-right: 10px;
        }


        #user-reg {
            min-height: 600px;
            padding-bottom:25px;
        }

        .headline {
            border-bottom: 1px solid #e8e7e7;
           
        }
        /*.partitionRight {
            border-right: 1px solid #e2e1e1;
        }*/
    </style>
</head>
<body>

   


    <!-- Main Wrapper Start -->
    <div class="main-wrapper">
        <!-- Header Section Start -->
        <div class="header-section">

           
            <!-- Header Bottom Start -->
            <div class="header-bottom header-sticky side-padding headline">
                <div class="container">
                    <div class="row">
                        <!-- Logo Start -->
                        <div class="col">
                            <a th:href="@{/}" href="index.html" class="logo"><img src="assets/images/logo.png" alt="Logo"></a>
                        </div><!-- Logo End -->
                        <!-- Main Menu Start -->
                        <div class="col d-none d-lg-block">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a th:href="@{/it-return-services}" href="it-return-services.html">IT Return Services</a></li>
                                        <li><a th:href="@{/tax-knowledge}" href="tax-knowledge.html">Tax Knowledge</a></li>
                                        <li><a th:href="@{/contact-us}" href="contact-us.html">Contant Us</a> </li>
                                        <li><a th:href="@{/register}" href="register.html">Login</a> </li>                                        
                                    </ul>
                                </nav>
                            </div>
                        </div><!-- Main Menu End -->
                        <!-- Header Button Start -->
                        <!--<div class="col">
                            <div class="header-button">
                                <a href="register.html" class="btn btn-red">Register Now</a>
                            </div>
                        </div>-->
                        <!-- Header Button End -->
                        <!-- Mobile Menu Start -->
                        <div class="mobile-menu d-block d-lg-none col"></div><!-- Mobile Menu End -->
                    </div>
                </div>
            </div><!-- Header Bottom End -->

        </div><!-- Header Section End -->

        <br />

        <!-- Page Banner Section Start -->
        <div class="page-banner-section" style="background-image: url(assets/images/bg/page-banner-bg.jpg)" data-overlay="theme-color" data-opacity="8">
            
        </div><!-- Page Banner Section End -->
        <!-- Contact Section Start -->

        

        <div class="contact-section pt-55 ">
            
                <div class="clearfix">
                    <div id="user-reg" class="container ">

                        <div class="row">



                            <div class="col-md-12">
                                <h1 class="text-center text-success pagetitle">Thanks for Choosing Us.. </h1>
                            </div>


                            <div class="col-md-8 col-md-offset-1 hidden-sm hidden-xs mt30 partitionRight">
                                <div class="mb30">
                                    <h1 class="ct-h4 mb0">EasyKar makes Filing IT Returns as easy and effective as humanly possible.</h1>                                   
                                </div>
                                <ul class="pr15 ct-register--trust-markerlist ct-list--none pl0 pb30 ct-border-bottom">
                                    <li><p class="ct-font-sm m0">Dedicated Support team of highly experienced experts at your disposal.</p></li>
                                    <li><p class="ct-font-sm m0">Time-based Services that ensure timely financial planning.</p></li>
                                    <li><p class="ct-font-sm m0">High-level privacy and absolute confidentiality.</p></li>
                                    <li><p class="ct-font-sm m0">Highly secure servers that keep your Financial Data safe.</p></li>
                                    <li><p class="ct-font-sm m0">Machine-Level Accuracy backed by Expert Support.</p></li>
                                    <li><p class="ct-font-sm m0">Over 1000 CAs to help you. 24/7 support for resolution of your questions.</p></li>
                                </ul>


                                <div class="mb30">
                                    <h1 class="ct-h4 mb0">Benefits of Hiring Us to File IT Online ?</h1>
                                </div>
                                <ul class="pr15 ct-register--trust-markerlist ct-list--none pl0 pb30 ct-border-bottom">
                                    <li><p class="ct-font-sm m0">File Returns without spending tedious hours with a CA</p></li>
                                    <li><p class="ct-font-sm m0">Do your filing in your spare time, from literally anywhere.</p></li>
                                    <li><p class="ct-font-sm m0">Economic Packages.</p></li>
                                    <li><p class="ct-font-sm m0">We make Financial Concepts simple and easy for our clients</p></li>
                                    <li><p class="ct-font-sm m0">Highly Up-To-Date experts</p></li>
                                   
                                </ul>

                            </div>

                            <div class="col-md-4">


                                <div class="logregbox">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#userlogin" role="tab" data-toggle="tab">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#useregister" role="tab" data-toggle="tab">Register</a>
                                        </li>

                                    </ul>
                                    <br />
                                    <div class="tab-content">
                                       
                                        <div role="tabpanel" class="tab-pane fade in active" id="userlogin">
                                            <form data-toggle="validator" role="form" th:action="@{/user_login}" th:object="${user}" method="post" enctype="utf8" >
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <a href="#" class="full-width ct-btn ct-btn--medium btngoogle mb20" data-tracking-action="google-login" data-tracking-label="Register">
                                                           Google
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <a href="#" class="full-width ct-btn ct-btn--medium btnfacebook mb20" data-tracking-action="facebook-login" data-tracking-label="Register">
                                                           Facebook
                                                        </a>
                                                       </div>     
                                                    </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p class="ct-or--line">or</p>
                                                    </div>
                                                </div>
                                                <br />
                                                
                                                    <!--<h2 class="ct-h5 mt0 text-center">Happy to see you !</h2>-->
                                                    <div class="row">

                                                        <div class="col-md-12">

                                                            <div class="form-group">
                                                                <input type="text" name="email" class="form-control" placeholder="Enter Email ID" id="email" required>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-12">

                                                            <div class="form-group">

                                                                <input type="password" name="password" class="form-control" placeholder="Enter Password" id="password" required>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="custom-control custom-radio pull-left" style="padding-left:0px;">
                                                                <input type="radio" name="rememberpwd" value="male">Remember
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6">

                                                            <div class="form-group">
                                                                <a href="#" style="float:right;margin-bottom:10px;">Forgot Password</a>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 text-center">

                                                            <input class="btn btn-info " type="submit" value="Login">
                                                          
                                                        </div>
                                                      
                                                    </div>
                                                

                                            </div>
                                            </form>
                                            <br />
                                            </div>
                                        
                                        
                                        <div role="tabpanel" class="tab-pane fade" id="useregister">
                                            <form data-toggle="validator" role="form" th:action="@{/user_register}" th:object="${user}" method="post" enctype="utf8" >
                                            <div class="col-md-12">

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <a href="#" class="full-width ct-btn ct-btn--medium btngoogle mb20" data-tracking-action="google-login" data-tracking-label="Register">
                                                            Google
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <a href="#" class="full-width ct-btn ct-btn--medium btnfacebook mb20" data-tracking-action="facebook-login" data-tracking-label="Register">
                                                            Facebook
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p class="ct-or--line">or</p>
                                                    </div>
                                                </div>
                                                <!--<h2 class="ct-h5 mt0 text-center">Sign up with your email address</h2>-->
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="form-group">

                                                            <input type="text" name="email" class="form-control" placeholder="Enter Email ID" id="email" required>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12">

                                                        <div class="form-group">

                                                            <input type="password" name="password" class="form-control" placeholder="Enter Password" id="password" required>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12">

                                                        <div class="form-group">

                                                            <input type="password" name="repassword" class="form-control" placeholder="Confirm Password" id="repassword" required>
                                                        </div>

                                                    </div>
                                                </div>
<!--                                                <div class="row d-none">
                                                    <div class="col-md-12">

                                                        <div class="form-group">
                                                            <input type="password" class="form-control" placeholder="Enter Mobile Number" id="usr">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="submit" value="generate OTP" class="btn btn-sm btn-success" style="background-color:#b0b0b0;" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">

                                                        <div class="form-group">

                                                            <input type="password" class="form-control" placeholder="Enter OTP" id="usr">
                                                        </div>

                                                    </div>

                                                </div>-->
                                                <div class="row">
                                                    <div class="col-12 text-center">

                                                        <input class="btn btn-info " type="submit" value="Register">

                                                    </div>
                                                </div>

                                                <br />
                                            </div>
                                            </form>

                                        </div>
                                       
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div> 
                </div>
        <!-- Footer Top Section Start -->
        <div class="footer-top-section bg-cyan-blue pt-100 pb-60">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Start -->
                    <div class="footer-widget text-left col-lg-4 col-md-6 col-12 mb-40">
                        <h3 class="title">Contact <span>Us</span></h3>
                        <ul class="contact-list">
                            <li><span>Phone:</span> <a href="tel:+99858547589">+91 8888888888</a></li>
                            <li><span>Email:</span> <a href="#">info@examplel.com</a></li>
                            <li><span>Address:</span> House 10, Road Nomber 32 <br>Ognada, Malay 1212.</li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->
                    <!-- Footer Widget Start -->
                    <div class="footer-widget text-center col-lg-4 col-md-6 col-12 mb-40">
                        <div class="footer-about">
                            <!-- Logo -->
                            <img src="assets/images/footer-logo.png" alt="Footer Logo">
                            <p>Combined with a handful of model sente nce structures, to generate Lorem Ipsum whilooks reasonable. The generated Lorem.</p>
                            <!-- Social -->
                            <div class="footer-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                    <!-- Footer Widget Start -->
                    <div class="footer-widget text-right col-lg-4 col-md-6 col-12 mb-40">
                        <h3 class="title">INSTAGRAM <span>photos</span></h3>
                        <div class="footer-instagram">
                            <ul id="instagram-feed"></ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->

                </div>
            </div>
        </div><!-- Footer Top Section End -->
        <!-- Footer Bottom Section Start -->
        <div class="footer-bottom-section">
            <div class="container">
                <div class="row">
                    <!-- Footer Copyright -->
                    <div class="footer-copyright text-center col-12">
                        <p>Copyright © All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Section End -->

    </div>

</div>

    <script>
        document.getElementById("userlogin").style.opacity = "1";
    </script>

    <script>





    </script>

    <!-- Main Wrapper End -->
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <!--<script src="assets/js/ajax-mail.js"></script>-->
    <!-- VMap JS -->
    <!--<script src="assets/js/jquery.vmap.min.js"></script>
    <script src="assets/js/maps/jquery.vmap.world.js"></script>-->
    <!-- Google Map Api -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlZPf84AAVt8_FFN7rwQY5nPgB02SlTKs"></script>-->
    <!-- Google Map Activation -->
    <script src="assets/map/contact-map.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    <!--<script src="assets/js/logrej.js"></script>-->
</body>
</html>