<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tax & Finance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
	
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <!-- Lightgallery CSS -->
    <link rel="stylesheet" href="assets/css/lightgallery.min.css">	
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">    
    <!-- VMap CSS -->
    <link rel="stylesheet" href="assets/css/jqvmap.min.css">    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">    
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
	
</head>

<body>

<!-- Main Wrapper Start -->
<div class="main-wrapper">

    <!-- Header Section Start -->
    <div class="header-section">

           
            <!-- Header Bottom Start -->
            <div class="header-bottom header-sticky side-padding headline">
                <div class="container">
                    <div class="row">
                        <!-- Logo Start -->
                        <div class="col">
                            <a th:href="@{/}" href="index.html" class="logo"><img src="assets/images/logo.png" alt="Logo"></a>
                        </div><!-- Logo End -->
                        <!-- Main Menu Start -->
                        <div class="col d-none d-lg-block">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a th:href="@{/it-return-services}" href="it-return-services.html">IT Return Services</a></li>
                                        <li><a th:href="@{/tax-knowledge}" href="tax-knowledge.html">Tax Knowledge</a></li>
                                        <li><a th:href="@{/contact-us}" href="contact-us.html">Contant Us</a> </li>
                                        <li><a th:href="@{/register}" href="register.html">Login</a> </li>                                        
                                    </ul>
                                </nav>
                            </div>
                        </div><!-- Main Menu End -->
                        <!-- Header Button Start -->
                        <!--<div class="col">
                            <div class="header-button">
                                <a href="register.html" class="btn btn-red">Register Now</a>
                            </div>
                        </div>-->
                        <!-- Header Button End -->
                        <!-- Mobile Menu Start -->
                        <div class="mobile-menu d-block d-lg-none col"></div><!-- Mobile Menu End -->
                    </div>
                </div>
            </div><!-- Header Bottom End -->

        </div><!-- Header Section End -->

    <!-- Page Banner Section Start -->
    <div class="page-banner-section" style="background-image: url(assets/images/bg/page-banner-bg.jpg)" data-overlay="theme-color" data-opacity="8">
        <div class="container">
            <div class="page-banner row align-items-center">
                
                <!-- Page Title -->
                <div class="col-lg-6 col-12">
                    <h1 class="page-title">Tax Knowledge</h1>
                </div>
                
                <!-- Page Breadcrumb -->
                <div class="col-lg-6 col-12">
                    <ul class="page-breadcrumb">
                        <li><a th:href="@{/}" href="#">home</a></li>
                        <li class="active">Tax Knowledge</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div><!-- Page Banner Section End -->

    <!-- About Candidate Section Start -->
    <div class="candidate-section pt-100 pb-65">
        <div class="container">
            <div class="row">
                
                <!-- Candidate Content Start -->
                <div class="candidate-content col-lg-6 col-12 mb-30">               
                    <h5>LITTLE ABOUT</h5>
                    <h1>Welcome To Our Business </h1>
                    <p>If you use this site regularly and would like to help keep the site Internet, please consider donating a small sum to help pay for the hosting and bandwidth bill. It is a long established fact that a reader.</p>
					<p>If you use this site regularly and would like to help keep the site Internet please consider donating a small sum to help. </p>
                    <img src="assets/images/signature.png" alt="Candidate Signature">                    
                </div>
				<!-- Candidate Content End -->
                
                <!-- Candidate Content Start -->
                <div class="candidate-video col-lg-6 col-12 mb-30">                   
                    <div class="candidate-video-inner" data-overlay="dark-blue" data-opacity="6">
                        <img src="assets/images/about/candidate-video.jpg" alt="Candidate Video">
                        <a href="https://www.youtube.com/watch?time_continue=140&amp;v=cIyVNoY3_L4" class="video-popup"><img src="assets/images/icons/icon-play.png" alt="Play"></a>
                    </div>                    
                </div><!-- Candidate Content End -->
                
            </div>
        </div>
    </div><!-- About Candidate Section End -->

    <!-- Biography Section Start -->
    <div class="biography-section bg-theme pt-95 pb-100">
        <div class="container">
            <div class="row">
                
                <!-- Section Title Start -->
                <div class="section-title title-white text-center col-12 mb-70">
                    <h1>Our Core Values</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div><!-- Section Title End -->
                
                <!-- Biography Timeline Start -->
                <div class="col-lg-10 col-12 ml-auto mr-auto">
                    <div class="timeline-wrap">
                        <span class="timeline-proces"></span>
                        <!-- Single Timeline Start -->
                        <div class="timeline row">

                            <!-- Date -->
                            <div class="date col-md-6">
                                <span class="dot"></span>
                                <h4>20 March, 2019</h4>
                            </div>

                            <!-- Content -->
                            <div class="content col-md-6">
                                <h4>Provide High Quality Services.</h4>
                                <p>There are many variatioans of passages Lorem Ipsum labl, but the majority have suffalteration in some.</p>
                            </div>

                        </div><!-- Single Timeline End -->

                        <!-- Single Timeline Start -->
                        <div class="timeline row">

                            <!-- Date -->
                            <div class="date col-md-6">
                                <span class="dot"></span>
                                <h4>5 June, 2018</h4>
                            </div>

                            <!-- Content -->
                            <div class="content col-md-6">
                                <h4>Delivering On Our Promises.</h4>
                                <p>There are many variatioans of passages Lorem Ipsum labl, but the majority have suffalteration in some.</p>
                            </div>

                        </div>
						<!-- Single Timeline End -->

                        <!-- Single Timeline Start -->
                        <div class="timeline row">

                            <!-- Date -->
                            <div class="date col-md-6">
                                <span class="dot"></span>
                                <h4>10 May, 2017</h4>
                            </div>

                            <!-- Content -->
                            <div class="content col-md-6">
                                <h4>International Agency Services.</h4>
                                <p>There are many variatioans of passages Lorem Ipsum labl, but the majority have suffalteration in some.</p>
                            </div>

                        </div>
						<!-- Single Timeline End -->

                        <!-- Single Timeline Start -->
                        <div class="timeline row">

                            <!-- Date -->
                            <div class="date col-md-6">
                                <span class="dot"></span>
                                <h4>11 January, 2016</h4>
                            </div>

                            <!-- Content -->
                            <div class="content col-md-6">
                                <h4>Public Affairs</h4>
                                <p>There are many variatioans of passages Lorem Ipsum labl, but the majority have suffalteration in some.</p>
                            </div>

                        </div>
						<!-- Single Timeline End -->

                    </div>
                </div><!-- Biography Timeline End -->                
                
            </div>
        </div>
    </div><!-- Biography Section End -->

    <!-- Testimonial Section Start -->
    <div class="testimonial-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-12 ml-auto mr-auto">
                    
                    <!-- Testimonial Slider Start -->
                    <div class="testimonial-slider" style="background-image: url(assets/images/bg/testimonial-bg.png)">
                        
                        <!-- Testimonial Item -->
                        <div class="testimonial">
                            <p>If you use this site regularly and would. like to help keep the site Internet, please consider donating a small sum to help pay for the hosting and width bill. It is a long established of world.</p>
                            <h5>Rohinga Daj</h5>
                        </div>
                        
                        <!-- Testimonial Item -->
                        <div class="testimonial">
                            <p>If you use this site regularly and would. like to help keep the site Internet, please consider donating a small sum to help pay for the hosting and width bill. It is a long established of world.</p>
                            <h5>Hango Daou</h5>
                        </div>
                        
                        <!-- Testimonial Item -->
                        <div class="testimonial">
                            <p>If you use this site regularly and would. like to help keep the site Internet, please consider donating a small sum to help pay for the hosting and width bill. It is a long established of world.</p>
                            <h5>Potlaji Tau</h5>
                        </div>
                        
                    </div>
					<!-- Testimonial Slider End -->
                    
                </div>                
            </div>
        </div>
    </div><!-- Testimonial Section End -->

    <!-- Contiribution Section Start -->
    <div class="contiribution-section bg-red pt-95 pb-100" style="background-image: url(assets/images/bg/contiribution-bg.png)">
        <div class="container">
            <div class="row">
                
                <!-- Contiribution Content Start -->
                <div class="contiribution-content text-center col">                    
                    <h4>OUR CAMPAIGN IS POWERED BY CONTRIBUTIONS FROM SUPPORTERS LIKE YOU</h4>
                    <h1 class="counter">5,58,8074</h1>
                    <h5>Dolars in Campaign Contiributions So Far</h5>
                    <a href="contact-us.html" class="btn btn-lg btn-black btn-hover-dark-red">Become a Volunteer</a>
                </div><!-- Contiribution Content End -->
                
            </div>
        </div>
    </div><!-- Contiribution Section End -->

    <!-- Service Section Start -->
    <div class="team-section pt-105 pb-50">
        <div class="container">
            <div class="row">                
                <!-- Section Title Start -->
                <div class="section-title text-center col-12 pb-50 pt-40">
                    <h1>Expert Advisor</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div>
				<!-- Section Title End --> 
            </div>
			<div class="row team-wrap justify-content-center">
				<!-- Single Team -->
				<div class="col-lg-4 col-md-6 col-sm-12 col-12">
					<div class="single-team">
						<div class="team-thumb">
							<a href="#"><img src="assets/images/team/1.png" alt="team image"></a>
						</div>
						<div class="team-content text-center">
							<div class="team-conetnt-info">
								<h5><a href="#">Margan Spee</a></h5>
								<h6>Founder Owner</h6>
							</div>
							<div class="team-social-icons">
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--// Single Team -->
				<!-- Single Team -->
				<div class="col-lg-4 col-md-6 col-sm-12 col-12">
					<div class="single-team">
						<div class="team-thumb">
							<a href="#"><img src="assets/images/team/2.png" alt="team image"></a>
						</div>
						<div class="team-content text-center">
							<div class="team-conetnt-info">
								<h5><a href="#">Loe Karnerl</a></h5>
								<h6>Chairmen Head</h6>
							</div>
							<div class="team-social-icons">
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--// Single Team -->
				<!-- Single Team -->
				<div class="col-lg-4 col-md-6 col-sm-12 col-12">
					<div class="single-team">
						<div class="team-thumb">
							<a href="#"><img src="assets/images/team/3.png" alt="team image"></a>
						</div>
						<div class="team-content text-center">
							<div class="team-conetnt-info">
								<h5><a href="#">Qumar Stain</a></h5>
								<h6>Marketer</h6>
							</div>
							<div class="team-social-icons">
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--// Single Team -->
			</div>
        </div>
    </div>
	<!-- Service Section End -->

    <!-- Footer Top Section Start -->
    <div class="footer-top-section bg-cyan-blue pt-100 pb-60">
        <div class="container">
            <div class="row">
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-left col-lg-4 col-md-6 col-12 mb-40">                    
                    <h3 class="title">Contact <span>Us</span></h3>                    
                    <ul class="contact-list">
                        <li><span>Phone:</span> <a href="tel:+99858547589">+91 8888888888</a></li>
                        <li><span>Email:</span> <a href="#">info@examplel.com</a></li>
                        <li><span>Address:</span> House 10, Road Nomber 32 <br>Ognada, Malay 1212.</li>
                    </ul>                    
                </div>
				<!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-center col-lg-4 col-md-6 col-12 mb-40">                    
                    <div class="footer-about">                       
                        <!-- Logo -->
                        <img src="assets/images/footer-logo.png" alt="Footer Logo">
                        <p>Combined with a handful of model sente nce structures, to generate Lorem Ipsum whilooks reasonable. The generated Lorem.</p>
                        <!-- Social -->
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>    
                            <a href="#"><i class="fa fa-twitter"></i></a>    
                            <a href="#"><i class="fa fa-instagram"></i></a>    
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>    
                            <a href="#"><i class="fa fa-linkedin"></i></a>    
                        </div>                       
                    </div>                    
                </div>
				<!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="footer-widget text-right col-lg-4 col-md-6 col-12 mb-40">                    
                    <h3 class="title">INSTAGRAM <span>photos</span></h3>                   
                    <div class="footer-instagram">
                        <ul id="instagram-feed"></ul>
                    </div>                    
                </div>
				<!-- Footer Widget End -->
                
            </div>
        </div>
    </div><!-- Footer Top Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section">
        <div class="container">
            <div class="row">                
                <!-- Footer Copyright -->
                <div class="footer-copyright text-center col-12">
                    <p>Copyright © All Right Reserved.</p>
                </div>                
            </div>
        </div>
    </div>
	<!-- Footer Bottom Section End -->
    
</div>
<!-- Main Wrapper End -->

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- VMap JS -->
<script src="assets/js/jquery.vmap.min.js"></script>
<script src="assets/js/maps/jquery.vmap.world.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>
</html>