<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="ezkr-document-heading" jhiTranslate="eazykarApp.document.home.createOrEditLabel">Create or edit a Document</h2>
            <div>
                <ezkr-alert-error></ezkr-alert-error>
                <div class="form-group" [hidden]="!document.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="document.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.document.documentType" for="field_documentType">Document Type</label>
                    <select class="form-control" name="documentType" [(ngModel)]="document.documentType" id="field_documentType"  required>
                        <option value="PROFILE_PIC">{{'eazykarApp.DocumentType.PROFILE_PIC' | translate}}</option>
                        <option value="PAN">{{'eazykarApp.DocumentType.PAN' | translate}}</option>
                        <option value="AADHAR">{{'eazykarApp.DocumentType.AADHAR' | translate}}</option>
                        <option value="DEMONETISATION_CASH_DEPOSITS">{{'eazykarApp.DocumentType.DEMONETISATION_CASH_DEPOSITS' | translate}}</option>
                        <option value="BANK_ACCOUNT_DETAILS">{{'eazykarApp.DocumentType.BANK_ACCOUNT_DETAILS' | translate}}</option>
                        <option value="TDS_CERTIFICATES">{{'eazykarApp.DocumentType.TDS_CERTIFICATES' | translate}}</option>
                        <option value="TAX_PAYMENT_CHALLAN">{{'eazykarApp.DocumentType.TAX_PAYMENT_CHALLAN' | translate}}</option>
                        <option value="ORIGINAL_RETURN">{{'eazykarApp.DocumentType.ORIGINAL_RETURN' | translate}}</option>
                        <option value="DETAILS_OF_NOTICE">{{'eazykarApp.DocumentType.DETAILS_OF_NOTICE' | translate}}</option>
                        <option value="ITR_V">{{'eazykarApp.DocumentType.ITR_V' | translate}}</option>
                        <option value="GENERAL_DOCUMENTS">{{'eazykarApp.DocumentType.GENERAL_DOCUMENTS' | translate}}</option>
                        <option value="INCOME_FROM_OTHER_SOURCES">{{'eazykarApp.DocumentType.INCOME_FROM_OTHER_SOURCES' | translate}}</option>
                        <option value="TAX_SAVINGS_INVESTMENTS">{{'eazykarApp.DocumentType.TAX_SAVINGS_INVESTMENTS' | translate}}</option>
                        <option value="OTHER_DEDUCTIONS">{{'eazykarApp.DocumentType.OTHER_DEDUCTIONS' | translate}}</option>
                        <option value="FORM_16">{{'eazykarApp.DocumentType.FORM_16' | translate}}</option>
                        <option value="SALARY_CERTIFICATE">{{'eazykarApp.DocumentType.SALARY_CERTIFICATE' | translate}}</option>
                        <option value="FORM_26AS">{{'eazykarApp.DocumentType.FORM_26AS' | translate}}</option>
                        <option value="HOUSE_PROPERTY">{{'eazykarApp.DocumentType.HOUSE_PROPERTY' | translate}}</option>
                        <option value="CAPITAL_GAIN">{{'eazykarApp.DocumentType.CAPITAL_GAIN' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.documentType?.dirty && editForm.controls.documentType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.documentType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.document.document" for="field_document">Document</label>
                    <div>
                        <div *ngIf="document.document" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(document.documentContentType, document.document)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{document.documentContentType}}, {{byteSize(document.document)}}</span>
                            <button type="button" (click)="document.document=null;document.documentContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_document" (change)="setFileData($event, document, 'document', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="document" id="field_document"
                        [(ngModel)]="document.document" maxbytes="5000000"/>
                    <input type="hidden" class="form-control" name="documentContentType" id="field_documentContentType"
                        [(ngModel)]="document.documentContentType" />
                    <div [hidden]="!(editForm.controls.document?.dirty && editForm.controls.document?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.document?.errors?.maxbytes" jhiTranslate="entity.validation.maxbytes" translateValues="{ max: 5000000 }">
                            This field cannot be more than 5000000.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.document.documentDescription" for="field_documentDescription">Document Description</label>
                    <input type="text" class="form-control" name="documentDescription" id="field_documentDescription"
                        [(ngModel)]="document.documentDescription" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.documentDescription?.dirty && editForm.controls.documentDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.documentDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eazykarApp.document.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="document.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === document.user?.id ? document.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
