<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="document">
            <h2><span jhiTranslate="eazykarApp.document.detail.title">Document</span> {{document.id}}</h2>
            <hr>
            <ezkr-alert-error></ezkr-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eazykarApp.document.documentType">Document Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'eazykarApp.DocumentType.' + document.documentType}}">{{document.documentType}}</span>
                </dd>
                <dt><span jhiTranslate="eazykarApp.document.document">Document</span></dt>
                <dd>
                    <div *ngIf="document.document">
                        <a (click)="openFile(document.documentContentType, document.document)" jhiTranslate="entity.action.open">open</a>
                        {{document.documentContentType}}, {{byteSize(document.document)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="eazykarApp.document.documentDescription">Document Description</span></dt>
                <dd>
                    <span>{{document.documentDescription}}</span>
                </dd>
                <dt><span jhiTranslate="eazykarApp.document.user">User</span></dt>
                <dd>
                    {{document.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document', document.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
