<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div class="content p-16">

        <div class="h1 pt-16 pl-24">
            My Profile
        </div>

        <p class="pb-16 pl-24">
            Please update your profile information
        </p>

        <mat-tab-group dynamicHeight="true">

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="h4">Personal Information</div>
                </ng-template>
                <ezkr-personal-information></ezkr-personal-information>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="h4">Address</div>
                </ng-template>
                <ezkr-address-information></ezkr-address-information>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="h4">Key Information</div>
                </ng-template>
                <ezkr-key-information></ezkr-key-information>
            </mat-tab>

        </mat-tab-group>

    </div>
</div>
