<div class="p-24">
    <form fxLayout="column" [formGroup]="salaryInformationForm" (ngSubmit)="saveSalaryInformation()">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel fxLayout="column">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Employer Details
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="outline" class="p-4" fxFlex="30">
                    <mat-label>Name of the Employer</mat-label>
                    <input matInput formControlName="employerName" required>
                    <mat-icon matSuffix>business</mat-icon>
                    <mat-error>This field is required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Employer Address</mat-label>
                    <input matInput formControlName="employerAddress">
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Salary breakup
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Basic Pay</mat-label>
                    <input matInput formControlName="basicPay">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Perquisites</mat-label>
                    <input matInput formControlName="perquisites">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Leave Encashment</mat-label>
                    <input matInput formControlName="leaveEncashment">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Gratuity</mat-label>
                    <input matInput formControlName="gratuity">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Arrears</mat-label>
                    <input matInput formControlName="arrears">
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Allowances
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>HRA</mat-label>
                    <input matInput formControlName="hra">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Conveyance</mat-label>
                    <input matInput formControlName="conveyance">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Medical</mat-label>
                    <input matInput formControlName="medical">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>LTA</mat-label>
                    <input matInput formControlName="lta">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Others</mat-label>
                    <input matInput formControlName="others">
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tax
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="outline" class="p-4" fxFlex="100">
                    <mat-label>Professional Tax</mat-label>
                    <input matInput maxlength="10" formControlName="professionalTax">
                </mat-form-field>
            </mat-expansion-panel>

        </mat-accordion>

        <div fxLayout="row" fxLayoutAlign="center center">
            &nbsp;
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button type="submit" color="accent" [disabled]="!salaryInformationForm.valid">
                {{ isSaving ? 'Saving...' : 'Save My Salary Information' }}
            </button>
        </div>

    </form>
</div>
